.nftSlider {
  width: 100%;
  min-height: 149px;
  margin-bottom: 38px;

  :global {
    .swiper-slide {
      width: 100% !important;
      margin-right: 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding-top: 20px;
    }
  }
}

.image {
  width: 64px;
  height: 64px;
  background-color: var(--secondary-background);
  object-fit: fill;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.removeBtn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  z-index: 9;

  svg {
    path {
      stroke: var(--secondary-border);
    }
  }
}

.nftName {
  font: var(--font-text-2);
  text-align: center;
}
