.nftSlider {
  width: 100%;
  min-height: 185px;
  padding: 0 32px;

  :global {
    .swiper-slide {
      width: 100% !important;
      margin-right: 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding-top: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    min-height: 80px;
    padding: 0;
  }
}

.image {
  height: 90px;
  width: 90px;
  background-color: var(--secondary-background);
  object-fit: fill;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    height: 48px;
    width: 48px;
  }
}

.removeBtn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  z-index: 9;

  svg {
    path {
      stroke: var(--secondary-border);
    }
  }
}

.nftName {
  font: var(--font-text-2);
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: left;
  }
}

.mobileSlide {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.removeBtnMobile {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  svg {
    path {
      stroke: var(--secondary-border);
    }
  }
}

.mobileSlideInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
