.header {
  width: 100%;

  &::before {
    content: unset;
  }
}

.wrapper {
  padding: 0;
  display: flex;

  @media screen and (max-width: 1023px) {
    padding: 0 20px 20px;
    align-items: center;
  }
}

.poolBgImage {
  border: var(--border-gray-1);
  height: 106px;
  width: 106px;
  object-fit: cover;
  display: block;
  margin-right: 20px;

  @media screen and (max-width: 1023px) {
    width: 43px;
    height: 43px;
  }
}

.title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;

  @media screen and (max-width: 1439px) {
    font-size: 32px;
    height: 43px;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1023px) {
    margin-top: unset;
  }

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.marketNavigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
    order: -1;
  }
}
