.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  background-color: var(--blur-background);
  backdrop-filter: blur(10px);

  @media screen and (max-width: 1023px) {
    background: none;
    backdrop-filter: none;
  }
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  display: flex;
  flex-direction: column;

  background: var(--primary-background);
  border: 1px solid var(--black-color);

  box-shadow: rgb(0 0 0 / 1%) 0px 0px 0px,
    var(--secondary-border) 4px 4px 0px 0px;

  @media screen and (max-width: 1023px) {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    border: 0;
    border-top: 1px solid var(--black-color);

    box-shadow: (0px -5px 80px rgba(0, 0, 0, 0.25));
  }
}

.closeModalIcon {
  position: absolute;
  top: -64px;
  right: 0;
  z-index: 99;

  height: 40px;
  width: 40px;
  border: 1px solid var(--primary-border);
  background: var(--white-color);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    top: -60px;
    right: 24px;
    height: 32px;
    width: 32px;
  }

  @media screen and (max-width: 550px) {
    top: -55px;
    right: 16px;
    font-size: 18px;
    height: 28px;
    width: 28px;
  }

  &:hover {
    border-color: var(--secondary-border);
  }
}

.closeIcon {
  width: 12px;

  stroke: var(--secondary-border);

  rect {
    fill: var(--secondary-border);
  }
  @media screen and (max-width: 550px) {
    width: 10px;
  }
}
