.orderBook {
  position: fixed;
  top: var(--header-height);
  right: 0px;

  width: 344px;
  height: calc(100vh - var(--header-height));

  border-left: 1px solid var(--primary-border);
  background-color: var(--primary-background);

  @media screen and (max-width: 768px) {
    top: calc(100vh - 134px);
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid var(--primary-border);
    border-left: none;
    box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.25);
    transition: top linear 0.2s;

    &.active {
      top: 100px;
    }
  }
}

.wrapper {
  padding: 32px;
  height: calc(100% - var(--header-height) - 46px);

  @media screen and (max-width: 768px) {
    height: calc(100% - var(--header-height) - 80px);
    padding: 32px 24px 0;
  }

  @media screen and (max-width: 550px) {
    height: calc(100% - var(--header-height) - 65px);
    padding: 32px 24px 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font: var(--font-text-2);
}

.toggle {
  margin-top: 24px;
  max-width: 160px;

  font: var(--font-text-8);

  @media screen and (max-width: 768px) {
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }
}

.col {
  margin-top: 24px;
  display: flex;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.colName {
  display: flex;
  align-items: center;
  padding-right: 32px;

  font: var(--font-text-6);
  color: #aeaeb2;
}

.arrowTriangle {
  margin-left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.3px 4.53px 0 4.53px;
  border-color: #aeaeb2 transparent transparent transparent;
  cursor: pointer;
}

.list {
  margin-top: 8px;
  height: calc(100% - var(--header-height) - 28px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.listItem {
  position: relative;
  padding: 14px 40px 14px 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--primary-border-2);

  @media screen and (max-width: 768px) {
    padding: 11px 0;
    margin: 0;
  }
}

.value {
  padding-right: 40px;
  font: var(--font-text-8);
}

.btnWrapper {
  padding: 32px;
  border-top: 1px solid var(--primary-border);

  &.active {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    border-top: none;
    padding: 24px;
  }

  @media screen and (max-width: 550px) {
    padding: 16px;
  }
}

.btn {
  padding: 14px;
  width: 100%;
}

.btnTrashWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnChevronWrapper {
  display: none;
  transform: rotate(180deg);

  &.active {
    transform: rotate(0deg);
  }

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: -16px;
    left: calc(50% - 16px);
  }
}

.roundBtn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
