.block {
  max-width: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1340px) {
    padding: 24px;
  }

  @media screen and (max-width: 1290px) {
    max-width: unset;
  }
}

.container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;

  @media screen and (max-width: 1340px) {
    gap: 16px;
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1300px) {
    gap: 8px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 1290px) {
    gap: 24px;
    margin-bottom: 24px;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    gap: 16px;
  }
}

.title {
  font: var(--font-h6);
  text-align: center;
  margin-bottom: 32px;
}

.subtitle {
  font: var(--font-text-2);
  font-size: 22px;
  text-align: center;
}

.values {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  @media (max-width: 1290px) {
    width: 135px;
  }
}

.value {
  font: var(--font-text-9);
  font-weight: 400;
}

.btn {
  margin-top: 16px;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
    height: 40px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.badges {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0 16px;
}
.badge {
  background: var(--secondary-background);
  font: var(--font-text-6);
  padding: 4px 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 100%;
}

.notConnetedWrapper {
  background: var(--secondary-background);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 13px;
}
.notConntectedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 8px;
  gap: 4px;
  width: 135px;
}
.notConnectedLabel {
  font: var(--font-text-6);
  text-transform: uppercase;
}
.notConnectedValue {
  color: var(--secondary-text);
  font: var(--font-h6);
  font-family: var(--font-family-chakra);
}

.containerFullWidth,
.bondsContainer {
  width: 100%;

  @media (max-width: 1290px) {
    width: 135px;
  }
}

.disabledLink {
  pointer-events: none;
}

.bondsContainer {
  padding: 34px 8px;
}
