.block {
  max-width: 860px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1430px) {
    max-width: unset;
  }
}

.tableWrapper {
  @media screen and (max-width: 767px) {
    overflow: auto;
  }
  &::-webkit-scrollbar {
    height: 0px;
  }
}

.title {
  font: var(--font-h6);
  text-align: center;
  margin-bottom: 32px;
}

.nftName {
  font: var(--font-text-2);
  flex-grow: 1;
}

.nftValue {
  display: flex;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 10px;
  overflow: auto;
  height: 270px;
  padding-top: 24px;

  @media screen and (max-width: 1430px) {
    max-height: 270px;
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  @media screen and (max-width: 767px) {
    width: 672px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media screen and (max-width: 1430px) {
    margin-bottom: 18px;
  }
  @media screen and (max-width: 767px) {
    width: 672px;
  }
}

.headerValues {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  width: 100%;
}

.headerTitle {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.tableInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-4);

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray-color-3) !important;
  }
}

.rowImage {
  height: 58px;
  width: 58px;

  @media screen and (max-width: 1024px) {
    height: 48px;
    width: 48px;
  }

  @media screen and (max-width: 767px) {
    height: 38px;
    width: 38px;
  }
}

.tableStats {
  display: flex;
  justify-content: space-between;
  max-width: 270px;
  width: 100%;

  & p {
    color: var(--secondary-border);
    font: var(--font-text-8);
    min-width: 94px;
    text-align: right;
  }
}

.poolImage {
  display: flex;
  position: relative;
}

.poolImageWithLabel {
  &::before {
    content: attr(data-collections-amount);
    background: var(--light-green-color);
    color: var(--button-text);
    position: absolute;
    font: var(--font-text-5);
    padding: 8px 4px;
    top: -17px;
    left: 13px;
    transform: translateX(-13px);
    width: 44px;
    height: 33px;
  }
}

.poolImage .rowImage {
  margin: 0;
}

.btn {
  margin-top: 22px;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
    height: 40px;
  }
}

.loansInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 24px;
  }
}

.loansInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.loansValue {
  color: var(--gray-color-2);
  font: var(--font-subtitle);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.subtitle {
  font: var(--font-text-6);
  text-align: center;
  text-transform: uppercase;
}

.icon {
  width: 20px;
}
