.statistics {
  text-align: center;
  background-color: var(--accent-color-1);
  margin-bottom: 64px;
}

.statisticsContainer {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.value {
  text-align: center;
  display: block;
  font: var(--font-btn-large);
  font-weight: 600;
  padding-top: 6px;
  color: var(--white-color);
}

.title {
  text-align: center;
  display: block;
  font-size: 18px;
  color: var(--white-color);
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 104px;
  width: 100%;
  border-right: 1px solid var(--black-color);

  &:last-child {
    border-right: none;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--black-color);

    &:last-child {
      border-bottom: none;
    }
  }
}
