.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 960px) {
    gap: 32px;
  }
}

.title {
  @media (min-width: 960px) {
    display: none !important;
  }
}

.stats {
  display: flex;
  align-items: center;
  height: 100%;

  & > * {
    width: 100%;
  }

  @media (min-width: 960px) {
    min-height: 120px;
  }
}

.button {
  height: 48px;
  width: 100%;

  @media (max-width: 960px) {
    height: 40px;
  }
}
