.loader {
  width: 72px;
  height: 72px;
  margin: auto;
  display: block;

  &__firstCircle {
    fill: var(--light-green-color);
  }

  &__secondCircle {
    fill: var(--light-green-color);
  }
}

.large {
  width: 160px;
  height: 160px;
}

.small {
  width: 32px;
  height: 32px;
}
