.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 91;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
}

.itemsContainer {
  max-width: 371px;
  border: 1px solid var(--secondary-border);
  display: grid;
  grid-template-columns: repeat(3, 113px);
  position: absolute;
  top: 72px;
  right: 15px;
  background-color: var(--primary-background);
  padding: 16px;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--primary-text);
    background-color: var(--primary-text);
    top: 4px;
    left: 4px;
    z-index: -1;
  }
}

.walletItemContainer {
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  position: relative;
  z-index: 2;

  &:hover {
    background-color: var(--color-dark);
  }
}

.walletItem {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: 8px;
  height: 81px;
  font: var(--font-btn-middle);

  img {
    width: 24px;
    height: 24px;
  }
}

.icon {
  path {
    fill: var(--secondary-border);
  }
}
