$contentHeight: 575px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 32px;
  gap: 32px;
  height: $contentHeight;
  width: 100%;

  @media (max-width: 1240px) {
    gap: 24px;
  }

  @media (max-width: 960px) {
    @include flex-column;
    padding: 24px;
    height: 100%;
  }

  @media (max-width: 550px) {
    padding: 16px;
  }
}

.lendContainer {
  @include flex-column;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.depositWrapper {
  @include flex-column;
  gap: 24px;
  width: 100%;
}

.lendContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  max-width: 440px;
  width: 100%;
}

.lendStats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.chartPieWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.chart {
  width: 184px !important;
  height: 184px !important;

  @media (max-width: 1180px) {
    width: 140px !important;
    height: 140px !important;
  }
}

.navigationButton {
  margin-top: 16px;
  height: 48px;
  width: 100%;
}
