.radio {
  &:hover {
    :global {
      .ant-radio-input + .ant-radio-inner {
        border-color: var(--black-color);
        background-color: var(--black-color);
      }
    }
  }

  :global {
    .ant-radio {
      + span {
        padding-left: 5px;
        color: var(--black-color);
      }

      .ant-radio-inner {
        width: 18px;
        height: 18px;
        border: 1px solid var(--black-color);
      }
    }

    .ant-radio-inner::after {
      top: 8px;
      left: 8px;
      background-color: var(--white-color);
    }

    .ant-radio-wrapper:hover .ant-radio-inner,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio:hover .ant-radio-inner {
      border-color: var(--black-color);
      background-color: var(--black-color);
    }
  }
}
