.radio {
  &:hover {
    :global {
      .ant-radio-input + .ant-radio-inner {
        border-color: var(--secondary-border);
      }
    }
  }

  :global {
    .ant-radio-checked + span {
      color: var(--secondary-border) !important;
    }
    .ant-radio {
      + span {
        font: var(--font-text-8);
        padding-left: 5px;
        color: var(--secondary-text);
      }

      .ant-radio-inner {
        width: 18px;
        height: 18px;
        border: 1px solid var(--secondary-text);
      }
    }

    .ant-radio-inner::after {
      top: 8px;
      left: 8px;
      background-color: #000000;
    }

    .ant-radio-checked .ant-radio-inner {
      background-color: var(--light-green-color);
    }

    .ant-radio-inner,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio-inner {
      border-color: var(--button-text);
    }
  }
}

.radio:hover > span {
  color: var(--secondary-border);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
