.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.fieldDesc {
  font: var(--font-text-5);
  font-weight: 400;
  line-height: 18px;
  padding-top: 10px;
}

.valueField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--gray-color-3);
}

.valueFieldTitle {
  color: var(--gray-color-3);
  font: var(--font-text-5);
  text-transform: uppercase;
}

.valueFieldValueContainer {
  display: flex;
  align-items: center;
  font: var(--font-text-3);
  color: var(--white-color);
}

.valueFieldValue {
  margin-right: 5px;
}

.valueFieldTokenIcon {
  height: 25px;
  width: 25px;
  margin-bottom: 3px;
}

.staticValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;

  color: var(--gray-color-3);
  font: var(--font-text-5);
  text-transform: uppercase;

  &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    display: block;
    background: var(--color-gray-4);
    order: 2;
  }
}
.staticValueAccent {
  color: var(--white-color);
}

.staticValueTitle {
  order: 1;
}
.staticValueData {
  order: 3;
}
