.footer {
  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (max-width: 1023px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;

  @media screen and (max-width: 700px) {
    margin-right: 90px;
    flex-direction: column;
  }
}

.logo {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: .025em;
  line-height: 1em;
  margin-right: 20px;

  @media screen and (max-width: 1400px) {
    font-size: 5vw;
  }
}

.navWrapper {
  flex-shrink: 0;
}

.contacts {
  border-radius: 10px;
  border: var(--border-gray-1);
  background-color: var(--color-gray-7);
  padding: 30px;
}

.navTitle {
  font: var(--font-text-2);
  color: var(--color-gray-4);
  margin-bottom: 30px;

  @media screen and (max-width: 900px) {
    font-size: 24px;
  }

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }
}

.navItem {
  margin-bottom: 10px;

  a {
    font: var(--font-text-3);
    color: var(--color-white);
    white-space: nowrap;
    transition: transform .2s ease-in;
    display: inline-block;

    &:hover {
      transform: translateX(10px);
      color: var(--color-white);
    }

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }
  }
}

.socialNavs {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.socialItem {
  width: 24px;
  margin-right: 5px;

  &:hover {
    opacity: .7;
  }
}

.contactsInfo {
  display: flex;
  gap: 30px;
}

.docsTitle,
.contactTitle {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}