@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/typography';

.container {
  width: 194px;
  height: 48px;
  border: 1px solid var(--light-green-color);
  background-color: var(--light-green-color-2);
  @include flex;
  color: var(--connect-btn-text);
  transition: background-color var(--transition-1), color var(--transition-1);

  &:hover {
    background-color: var(--light-green-color-1);
    color: var(--connect-btn-text);
  }
}

.icon {
  width: 40px;
  height: 48px;
  @include flex(row, nowrap, center, center);
  border-right: 1px solid var(--light-green-color);
  cursor: pointer;

  path {
    fill: var(--connect-btn-text);
  }
}

.text {
  color: var(--connect-btn-text);
  width: 154px;
  height: 48px;
  @include flex(row, nowrap, center, center);
  @include text-header-button;
  cursor: pointer;
  user-select: none;
}
