.tab {
  flex-wrap: nowrap;

  button {
    border: 0;
    border-bottom: 1px solid var(--primary-border);
  }

  button:first-child {
    border-right: 1px solid var(--primary-border);
  }
}

.content {
  border: 1px solid var(--primary-border);
}

.wrapper {
  padding: 24px;
}

.tabContent {
  background: var(--primary-background);
}

.tabContentMinHeight {
  min-height: 600px;
}

.toggle {
  @media (max-width: 550px) {
    padding-bottom: 16px;
  }
}

.bondsTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;

  @media (max-width: 550px) {
    flex-direction: column-reverse;
  }
}

.bondsTable {
  :global {
    .ant-table-tbody > tr > td:last-child {
      width: 70px !important;
    }
    .ant-table-tbody > tr > td:first-child {
      padding-left: 0;
      width: 192px;
    }
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}

.emptyList {
  padding: 120px 0 160px !important;
}

.noDataTableMessage {
  :global {
    display: none;
  }
}
