.tab {
  flex-wrap: nowrap;

  button {
    border: 0;
    border-bottom: 1px solid var(--primary-border);
  }

  button:first-child {
    border-right: 1px solid var(--primary-border);
  }
}

.content {
  border: 1px solid var(--primary-border);
}

.tabContent {
  background: var(--primary-background);
}
