.tab {
  flex-wrap: nowrap;

  button {
    border: 0;
    border-bottom: 1px solid var(--primary-border);
  }

  button:first-child {
    border-right: 1px solid var(--primary-border);
  }
}

.content {
  border: 1px solid var(--primary-border);

  @media screen and (max-width: 960px) {
    border-right: 0;
    border-left: 0;
  }
}

.tabContent {
  background: var(--primary-background);
  min-height: 440px;
}
