.title {
  font: var(--font-subtitle);

  @media (max-width: 1140px) {
    font-size: 24px;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.searchInput {
  width: 192px;

  @media (max-width: 960px) {
    width: 173px;
  }

  @media (max-width: 550px) {
    width: 144px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
