.keyPoints {
  margin-bottom: 104px;
}

.keyPointsTitle {
  font: var(--font-h2);
  margin-bottom: 64px;
}

.keyPointsContent {
  max-width: 876px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.definitionsTitle {
  font: var(--font-subtitle);
}

.definitionsSeparator {
  flex-grow: 1;
  position: relative;

  &::before {
    position: absolute;
    background: var(--gray-color-3);
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    content: '';
    width: 1px;
    height: 100%;
  }
}

.definitionsList {
  width: 512px;
  font: var(--font-body-large);

  li {
    padding: 0 32px 0;
    margin-bottom: 64px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      background: var(--white-color);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}