.title {
  font: var(--font-h4);
  margin-bottom: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 638px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: unset;
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 222px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @media screen and (max-width: 1024px) {
    row-gap: 16px;
    max-height: 295px;
    height: 100%;
  }
}

.subtitle {
  font: var(--font-h6);
  margin-bottom: 5px;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.nftName {
  font: var(--font-text-2);
  max-width: 200px;
}

.tableInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowImage {
  height: 58px;
  width: 58px;

  @media screen and (max-width: 1024px) {
    height: 48px;
    width: 48px;
  }

  @media screen and (max-width: 767px) {
    height: 38px;
    width: 38px;
  }
}

.poolImage {
  display: flex;
  margin: 0 5px 0 10px;
  position: relative;
}

.value {
  font: var(--font-text-8);
}

.btn {
  margin-top: 32px;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
    height: 40px;
  }
}

.poolImageWithLabel {
  &::before {
    content: attr(data-collections-amount);
    background: var(--light-green-color);
    color: var(--button-text);
    position: absolute;
    font: var(--font-text-5);
    padding: 8px 4px;
    top: -17px;
    left: 4px;
    transform: translateX(-13px);
    width: 44px;
    height: 33px;
  }
}

.poolImage .rowImage {
  margin: 0;
}
