.wrapper {
  padding: 24px;
}

.bondsTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  gap: 24px;

  @media (max-width: 1240px) {
    flex-direction: column-reverse;
    gap: 16px;
  }

  @media (max-width: 550px) {
    flex-direction: column-reverse;
  }
}

.table {
  :global {
    cursor: default;
    .ant-table-tbody > tr > td:last-child {
      width: 110px !important;
    }
    .ant-table-thead > tr > th:first-child,
    .ant-table-tbody > tr > td:first-child {
      padding-left: 0;
    }
    .ant-table-thead > tr > th:last-child,
    .ant-table-tbody > tr > td:last-child {
      padding-right: 0;
    }
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}

.radio {
  display: flex;
  gap: 0;

  @media screen and (max-width: 960px) {
    justify-content: center;
    width: 100%;
  }
}

.radioButton {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
    padding: 3px !important;
    height: 24px;
    width: 104px;
  }

  @media screen and (max-width: 1080px) {
    flex-wrap: wrap;

    & > div {
      width: 90px;
    }
  }
}

.emptyList {
  padding: 120px 0 160px !important;
}

.tableWrapper {
  position: relative;
}

.loader {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
