.wrapper {
  padding: 24px;
}

.toggle {
  @media (max-width: 550px) {
    padding-bottom: 16px;
  }
}

.bondsTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;

  @media (max-width: 550px) {
    flex-direction: column-reverse;
  }
}

.table {
  :global {
    .ant-table-tbody > tr > td:last-child {
      width: 70px !important;
    }
    .ant-table-tbody > tr > td:first-child {
      padding-left: 0;
      width: 192px;
    }
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}

.radio {
  display: flex;
}

.radioButton {
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
    padding: 3px !important;
    height: 24px !important;
    width: 104px !important;
  }
}
