.wrapper {
  border: 1px solid var(--primary-border);
  background-color: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;

  @media (max-width: 870px) {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  @media (max-width: 768px) {
    padding: 16px;
  }

  @media (max-width: 550px) {
    align-items: center;
  }
}

.title {
  font: var(--font-text-2);
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.stats {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 16px;
  }
}

.values {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  white-space: nowrap;

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.values span {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: unset;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
