.wrapper {
  display: flex;
  justify-content: center;
}

.content {
  border: 1px solid var(--primary-border);
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 16px;
  max-width: 536px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.title {
  font: var(--font-title-2);
  font-size: 32px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 24px;
  }
}

.subtitle {
  font: var(--font-text-1);
  font-size: 24px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.values {
  border: 1px solid var(--primary-border);
  padding: 16px;
  text-align: center;
  width: 100%;
}

.btn {
  height: 26px;
}
