.wrapper {
  border: 1px solid var(--primary-border);
  background-color: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100%;
}

.title {
  font: var(--font-text-2);
  font-size: 20px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 24px;
}

.values {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  white-space: nowrap;
}

.values span {
  margin-top: unset;
}
