.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100px;
  font: var(--font-text-8);
}

.title {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  display: flex;
  align-items: center;
  gap: 3px;
}
