.positionWrapper {
  position: fixed;
  top: 50px;
  height: 0;
  left: 0;
  right: 0;
  z-index: 7;
  transition: top .2s ease-out;

  @media screen and (max-width: 1439px) {
    right: 10px;
  }

  @media screen and (max-width: 1024px) {
    right: 0;
  }

  .container {
    @media screen and (max-width: 700px) {
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  @media screen and (max-width: 500px) {
    top: 37px;
  }
}

.headerHidden {
  top: 0;
  transition: top .2s ease-in;

  @media screen and (max-width: 1400px) {
    top: -103px;

    .randomWrapper {
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 1400px) {
    top: -93px;

    .randomWrapper {
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: 767px) {
    top: -73px;
  }

  @media screen and (max-width: 373px) {
    top: -103px;
  }
}

.container {
  display: flex;
  pointer-events: none;

  &::before {
    display: block;
    content: '';
    width: 229px;
    flex-shrink: 0;
    height: 0;

    @media screen and (max-width: 1439px) {
      width: 234px;
    }

    @media screen and (max-width: 700px) {
      width: 45px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-7);
  max-width: 100%;
  flex-grow: 1;
  pointer-events: auto;
  padding: 20px;

  @media screen and (max-width: 1100px) {
    padding: 30px;
  }
}

.headerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  transition: padding .3s ease-in;

  @media screen and (max-width: 1100px) {
    flex-wrap: wrap;
  }
}

.buyWrapper {
  display: flex;
  gap: 20px;
  margin-right: auto;

  @media screen and (max-width: 920px) {
    flex-direction: column;
    flex-grow: 1;
  }

  @media screen and (max-width: 767px) {
    gap: 10px;
  }

  @media screen and (max-width: 700px) {
    flex-direction: row;
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.sellInfoWrapper {
  display: flex;
  align-items: center;
  border: var(--border-gray-1);
  background-color: var(--black-color);
  height: 43px;
  padding: 0 10px;
  font: var(--font-text-3);
  line-height: 1;
  position: relative;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}

.separator {
  height: 23px;
  width: 1px;
  background-color: var(--color-gray-4);
  margin-left: 15px;
  margin-right: 15px;
}

.sellInfoItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  svg,
  .infoImage {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.infoImage {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-gray-1);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  display: block;
}

.marketNavigation {

  @media screen and (max-width: 1100px) {
    margin-bottom: 30px;
    width: 100%;
    order: -1;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}