.card {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.subtitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);

  svg {
    width: 11px;
    height: 10px;
  }
}

.opacity {
  opacity: 0.5;
}

.statsValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11.5px;
}

.totalValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  height: 48px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 3px;

  svg {
    width: 11px;
    path {
      fill: var(--gray-color-2);
    }
  }
}

.countdown {
  font: var(--font-text-8);
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticketsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticketsInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter {
  border: 1px solid var(--secondary-text);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  svg > path {
    fill: var(--secondary-text);
  }

  @media (max-width: 767px) {
    height: 32px;
    width: 32px;
  }
}

.counterValue {
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--font-text-4);
  width: 40px;

  &:after {
    content: '';
    display: block;
    background-color: var(--secondary-text);
    margin-top: 4px;
    height: 1px;
    width: 100%;
  }
}
