.card {
  background: var(--primary-background);
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  padding: 24px;

  @media (max-width: 960px) {
    padding: 15px;
  }
}

.cardWrapper {
  border: 1px solid var(--primary-border);
  position: relative;
}

.participatedCard {
  border-color: var(--light-green-color);
}

.badge {
  background: var(--light-green-color);
  color: var(--button-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-green-color);
  position: absolute;
  top: -16px;
  right: 16px;
  font: var(--font-text-5);
  height: 33px;
  padding: 8px;
  max-width: 190px;
}

.subtitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.value {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);

  svg {
    width: 11px;
    height: 10px;
  }
}

.opacity {
  opacity: 0.5;
}

.statsValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.totalValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  height: 48px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 3px;

  svg {
    width: 11px;
    path {
      fill: var(--gray-color-2);
    }
  }
}

.hiddenOverlay {
  display: none;
}

.countdown {
  font: var(--font-text-8);
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticketsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticketsInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.counter {
  border: 1px solid var(--secondary-text);
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  svg > path {
    fill: var(--secondary-border);
  }

  @media (max-width: 960px) {
    height: 32px;
    width: 32px;
  }

  &:disabled {
    svg > path {
      fill: var(--secondary-text);
    }
  }
}

.input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--secondary-text);
  color: var(--secondary-text);
  font: var(--font-text-4);
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 0;
  text-align: center;
  width: 40px;
  margin: 0 8px;

  &:focus,
  &:focus-visible {
    color: var(--secondary-border);
    border-bottom: 1px solid var(--secondary-border);
  }
}

.activeInput {
  color: var(--secondary-border);
  border-bottom: 1px solid var(--secondary-border);
}

.useMaxButton {
  height: 40px;
  width: 83px;
}
