.card {
  align-items: center;
  background: var(--white-color);
  border: var(--border-black-1);
  display: flex;
  justify-content: space-between;
  padding: 32px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    align-items: unset;
    flex-direction: column;
  }
}

.nftInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nftName {
  font: var(--font-subtitle-2);
}

.nftImage {
  height: 56px;
  width: 56px;
}

.subtitle {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  display: flex;
  align-items: baseline;
  padding-top: 10px;
  gap: 3px;
}

.opacity {
  opacity: 0.5;
}

.statsValue {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 0;

    .value {
      padding-top: 0;
    }
  }
}

.btn {
  padding: 0;
  justify-content: center;
  gap: 11px;
  height: 48px;
  width: 146px;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
    width: 100%;
  }
}

.totalValue {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}
