.container {
  max-width: 730px;
  min-width: 600px;
  margin: 0 auto;
  padding: 64px 0;
  align-self: flex-end;
  justify-self: flex-start;

  @media screen and (max-width: 767px) {
    min-width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 24px;
  // margin-bottom: 24px;
  margin-bottom: 36px;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
}
