.header {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @media screen and (max-width: 1023px) {
    margin-top: 30px;
    flex-direction: column;
  }
}

.headerActive {
  padding-right: 302px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font: var(--font-text-1);
  text-align: center;
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.searchInput {
  max-width: 173px;
  margin-right: 20px;
  width: unset;

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    margin-top: 2px;
    margin-left: 3px;

    path {
      stroke: var(--white-color);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  min-width: 160px;
}

.sortingWrapper {
  display: flex;
  gap: 36.5px;
}

.sorting {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.filtersDropdown {
  position: absolute;
  top: 45px;
  right: 0;
}

.search {
  margin-bottom: 32px;
  max-width: 350px;
}

.connectBtn {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
}

.nftsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  gap: 24px;
  align-items: stretch;
  padding-right: 302px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.nftListActive {
  padding-right: 0;
}

.noSuiableMessageWrapper {
  color: var(--secondary-border);
}

.noSuiableMessage {
  font: var(--font-text-4);
  margin-bottom: 6px;
}

.acceptedCollectionsLink {
  font: var(--font-text-8);
  color: var(--blue-color);

  &::after {
    background-color: var(--blue-color);
  }

  &:hover {
    color: var(--blue-color);
  }

  svg path {
    fill: var(--blue-color);
  }
}

.loader {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  font: var(--font-text-2);

  &::after {
    animation: dots 2s linear infinite;
    width: 16px;
    content: '...';
  }
}

@keyframes dots {
  0%,
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  100% {
    content: '';
  }
}
