.emptyContent {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image {
  width: 75px;
  height: 75px;

  @media (max-width: 1390px) {
    width: 64px;
    height: 64px;
  }

  @media (max-width: 1290px) {
    width: 108px;
    height: 108px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media (max-width: 1390px) {
    max-width: 145px;
  }

  @media (max-width: 1290px) {
    max-width: 234px;
  }
}

.emptyMessage {
  font: var(--font-text-1);
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.1px;
  margin-bottom: 96px;

  @media (max-width: 1290px) {
    margin-bottom: 24px;
  }
}

.poolImageEmpty {
  img {
    width: 166px;
    height: 166px;
  }

  @media (max-width: 1390px) {
    img {
      height: 140px;
      width: 140px;
    }
  }

  @media (max-width: 1290px) {
    img {
      height: 234px;
      width: 234px;
    }
  }

  @media screen and (max-width: 767px) {
    img {
      width: 67px;
      height: 67px;
    }
  }
}

.poolsImagesEmpty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  margin-top: 12px;

  @media screen and (max-width: 767px) {
    gap: 8px;
  }
}

.otherImage {
  display: none;
}

.poolImageEmpty:last-child {
  position: relative;
  height: 166px;
  width: 166px;

  .otherImage {
    display: block;
    background: rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    align-items: center;
    text-align: center;
    z-index: 1;

    @media screen and (max-width: 767px) {
      height: 67px;
      width: 67px;
    }
  }

  @media (max-width: 1390px) {
    height: 140px;
    width: 140px;
  }

  @media (max-width: 1290px) {
    height: 234px;
    width: 234px;
  }

  .otherImageCount {
    font: var(--font-subtitle-2);
    font-size: 28px;

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }

  .otherImageTitle {
    font: var(--font-text-6);

    @media screen and (max-width: 767px) {
      font-size: 10px;
    }
  }
}
