@import '../../scss/abstracts/variables.scss';


.root {
  transition: 0.2s ease-in;
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &.primary {
    background-color: var(--white-color);
    color: var(--black-color);
  }

  &.primary:hover {
    background-color: var(--gray-color-4);
    color: var(--black-color);
  }

  &.primary:active {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  &.secondary {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  &.secondary:hover {
    background: rgba(255, 255, 255, 0.1);
  }


  &.secondary:active {
    background-color: var(--white-color);
    color: var(--black-color);
  }

  &.alternative {
    background-color: var(--accent-color-1);
    color: var(--white-color);
  }

  &.alternative:hover {
    background-color: var(--accent-color-3);
  }


  &.alternative:active {
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
  }

    & svg {
    fill: var(--black-color);
  }

  &.sm {
    font-size: 18px;
    padding: 4.5px 18.5px;

    & svg {
      margin-right: 3px;
    }
  }

  &.md {
    font-size: 24px;
    padding: 4px 20px;

    & svg {
      margin-right: 5px;
    }
  }
  &.xl {
    font-size: 18px;
    padding: 33px 20px;
  }
}

.link {
  display: inline-block;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
  .root {
    &.sm {
      font-size: 12px;
      padding: 2px 5px;

      & svg {
        margin-right: 2px;
      }
    }

    &.md {
      font-size: 14px;
      padding: 3px 7px;
    }
  }
}