@import '../../scss/abstracts/variables.scss';

.root {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-1),
    border-color var(--transition-1), color var(--transition-1);

  &:disabled {
    pointer-events: none;
  }
}

.primary,
.secondary {
  color: var(--black-color);
  font: var(--font-btn-middle);
  padding: 6px 20px;
}

.primary {
  border: var(--border-light-green-1);
  background-color: var(--gray-color-5);

  &:hover {
    background-color: var(--light-green-color-1);
  }

  &:disabled {
    border: 1px solid var(--gray-color-2);
    color: var(--gray-color-2);
  }
}

.secondary {
  background-color: var(--light-green-color);

  &:hover {
    background-color: var(--light-green-hover);
  }

  &:disabled {
    color: var(--gray-color-2);
    background-color: var(--gray-color-4);
  }
}

.tertiary {
  background-color: var(--white-color);
  border: var(--border-black-1);
  border-radius: 100px;
  padding: 8px;
  font: var(--font-text-8);
}

.link {
  display: inline-block;
}
