.modal {
  .ant-modal-body {
    padding: 0 20px 30px 30px;
  }
}

.input {
  margin-bottom: 20px;
  font: var(--font-text-3);
}

.closeModalSection {
  height: 43px;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-color-3);
  background: var(--black-color);
  border-radius: 30px;
  position: absolute;
  top: -70px;
  right: 0;

  @media screen and (max-width: 1023px) {
    top: -60px;
  }

  @media screen and (max-width: 550px) {
    top: -55px;
    height: 35px;
    padding-left: 10px;
  }
}

.closeModalIcon {
  height: 43px;
  width: 43px;
  border: 1px solid var(--gray-color-3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;
  transition: border-color var(--transition-1);

  &:hover {
    border: 1px solid var(--white-color);
  }

  @media screen and (max-width: 550px) {
    font-size: 18px;
    height: 35px;
    width: 35px;
  }
}

.closeIcon {
  width: 23px;

  @media screen and (max-width: 470px) {
    width: 15px;
  }
}

.topTokensList {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  gap: 10px;
}

.topCoinContent {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--gray-color-3);
  height: 30px;
  width: 91px;

  &:hover {
    background: var(--color-gray-7);
    transition: var(--transition-1);
  }
}

.icon {
  background: var(--gray-color-3);
  border-radius: 24px;
  background-size: cover;
  flex-shrink: 0;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.smallIcon {
  height: 18px;
  width: 18px;
}

.row {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 8.5px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray-4);
  }

  &:hover {
    background: var(--color-gray-7);
    transition: var(--transition-1);
  }
}

.tokenInfo {
  display: flex;
  align-items: center;
}

.token {
  line-height: 32px;
  color: var(--white-color);
  font-size: 24px;
  font: var(--font-text-3);
}

.tokenList {
  height: 284px;
  overflow-y: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray-color-3);
  }
}
