@import '../../scss/abstracts/mixins';

.bondPage {
  width: calc(100% - 344px);

  @media screen and (max-width: 768px) {
    margin-bottom: 145px;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  gap: 32px;

  @media screen and (max-width: 550px) {
    width: calc(100% - 44px);
    gap: 16px;
  }
}

.btnBack {
  @include flex(row, nowrap, center, center);
  flex-shrink: 0;

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;

  height: 40px;
  width: 40px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  &:hover {
    border-color: var(--secondary-border);
  }

  @media screen and (max-width: 768px) {
    height: 32px;
    width: 32px;
    svg {
      height: 19px;
      width: 16px;
    }
  }

  @media screen and (max-width: 550px) {
    height: 28px;
    width: 28px;
    svg {
      height: 14px;
      width: 17px;
    }
  }
}

.btn {
  padding: 0 37px;
  height: 26px;
  font: var(--font-btn-middle);
}
