.container {
  padding-top: 64px;
  padding-bottom: 64px;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding-top: 50px;
  }
}

.pageHeader {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 2px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    flex-grow: 1;
    margin-left: 0;
    width: 100%;
  }
}

.tab {
  padding: 18px 24px;
  width: 100%;
  font: var(--font-btn-small);
  color: var(--white-color);
  background: transparent;
  border: 1px solid var(--gray-color-3);
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  @media screen and (max-width: 1023px) {
    font-size: 15px;
    height: 38px;
    padding-top: 10px;
  }

  @media screen and (max-width: 767px) {
    width: 50%;
  }

  &:hover {
    background: var(--gray-color-7);
  }

  &Active,
  &Active:hover {
    background: var(--white-color);
    color: var(--black-color);
    pointer-events: none;
  }
}

.content {
  display: flex;
  width: 100%;
  gap: 30px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.tabsContent {
  width: 100%;
}

.emptyMessage {
  font: var(--font-btn-mid);
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  margin-bottom: 35px;
}
