.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pageHeader {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 2px;
}

.description {
  font-size: 24px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 32px 24px;
  min-width: 140px;
  font: var(--font-btn-small);
  color: var(--white-color);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  &:hover {
    background: var(--gray-color-7);
  }

  &Active,
  &Active:hover {
    background: var(--white-color);
    color: var(--black-color);
    pointer-events: none;
  }
}

.tokensContainer {
  display: flex;
  flex-direction: column;
}

.tokens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  align-items: stretch;
}

.vaults {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
  align-items: stretch;
}

.token {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--gray-color-3);
  cursor: pointer;
  transition: border-color var(--transition-1);

  &:hover {
    border-color: var(--accent-color-1);
  }

  &__info {
    display: flex;
    gap: 18px;
  }

  &__logo {
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }

  &__name {
    margin-bottom: 2px;
    font: var(--font-btn-small);
    color: var(--white-color);
  }

  &__balance {
    font: var(--font-btn-small);
    color: var(--gray-color-3);
  }

  &_disabled {
    pointer-events: none;
    opacity: 0.75;
  }
}

.emptyMessage {
  font: var(--font-btn-mid);
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
