.sortWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 32px;

  @media screen and (max-width: 650px) {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

.searchInput {
  max-width: 256px;
  margin-right: 20px;
}
