.ticket {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  color: var(--gray-color-2);
  font: var(--font-text-5);
  text-transform: uppercase;
}

.value {
  font: var(--font-text-8);
  color: var(--black-color);

    @media screen and (max-width: 510px) {
      font-size: 15px;
    }
}

