.nftList {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-top: 50px;
}

.nftListItem {
  border: 1px solid var(--gray-color-3);
  max-width: calc(33.33% - 18px);
  width: 100%;
  position: relative;
  background-color: var(--black-color);
  cursor: pointer;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-color-3);
    top: 10px;
    left: 10px;
    z-index: -1;
  }

  &:hover {
    border-color: var(--accent-color-1);

    &::after {
      border-color: var(--accent-color-3);
      opacity: .5;
    }
  }
}

.nftImage {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    bottom: 0;
    left: 0;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.nftInfoBlock {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--gray-color-3);
}

.nftTitle {
  font: var(--font-btn-mid);
  line-height: 1.25em;
  margin-bottom: 16px;
}

.nftInfoLabel {
  font: var(--font-smallest);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-color-3);
  margin-bottom: 8px;
}

.nftInfoItem {
  font: var(--font-btn-small);
}

:global {
  .ant-modal-wrap {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(16px);
  }
}

.modal {
  :global {
    .ant-modal-content {
      background-color: transparent;
      box-shadow: none;
    }

    .ant-modal-body {
      padding: 0;
    }
  }
}

.closeModalSection {
  height: 43px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-color-3);
  border-radius: 30px;
  position: absolute;
  top: -70px;
  right: 0;
}

.slideNumber {
  font: var(--font-btn-mid);
  margin-right: 16px;
  margin-top: 5px;
}

.closeModalIcon {
  height: 43px;
  width: 43px;
  border: 1px solid var(--gray-color-3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;
  transition: border-color var(--transition-1);

  &:hover {
    border: 1px solid var(--white-color);
  }
}

.sliderWrapper {
  padding: 24px;
  background-color: var(--black-color);
  border: 1px solid var(--gray-color-3);


  :global {
    .swiper-button-disabled {
      &::after {
        color: var(--gray-color-3);
      }
    }
  }
}

.slide {
  display: flex;
  gap: 34px;
}

.slideImage {
  flex-shrink: 0;
  height: 388px;
  width: 388px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--gray-color-3);
}

.slideInfoBlock {
  flex-grow: 1;
}

.collection {
  display: flex;
  align-items: center;
  font: var(--font-secondary);
  margin-bottom: 18px;

  a {
    color: var(--accent-color-1);
    border-bottom: 1px solid var(--accent-color-1);
  }

  &::before {
    content: '';
    background: #3D3D3D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }
}

.NftDescription {
  margin-bottom: 16px;
  font: var(--font-body-small);
}

.attributesTable {
  padding-bottom: 32px;
  font: var(--font-secondary);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;

    p:first-child {
      order: 1;
    }

    p:last-child {
      order: 3;
      word-break: break-word;
      text-align: right;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 1px;
      flex-grow: 1;
      background: var(--gray-color-3);
      order: 2;
      min-width: 25px;
      margin-top: 11px;
    }
  }

  @media screen and (max-width: 1023px) {
    padding-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.sliderNavPrev,
.sliderNavNext {
  height: 56px;
  width: 56px;
  position: absolute;
  top: calc(50% - 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-color-3);
  background-color: var(--black-color);
  z-index: 9;
  cursor: pointer;
  transition: var(--transition-1);

  &::after {
    font-size: 14px;
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}

.sliderNavPrev {
  left: -80px;

  &::after {
    content: 'prev';
  }
}

.sliderNavNext {
  right: -80px;

  &::after {
    content: "next";
  }
}