.block {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.title {
  font: var(--font-subtitle);
  font-size: 40px;
  margin-bottom: 16px;
}

.chartWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.poolsConainer {
  width: 100%;
}

.loansInfoWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.loansInfoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.chart {
  height: 192px;
  width: 192px;
  margin: 0 auto;
  position: relative;
}

.subtitle {
  font: var(--font-text-6);
  text-transform: uppercase;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chartInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.rowInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rowIcon {
  height: 24px;
  width: 24px;
}

.name {
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  font: var(--font-text-8);
}

.icon {
  width: 20px;
}

.btn {
  margin-top: 32px;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1290px) {
    margin-top: 24px;
  }

  @media screen and (max-width: 1024px) {
    height: 40px;
  }
}
