.content {
  border: 1px solid var(--primary-border);
}

.tabContent {
  background: var(--primary-background);
  padding: 24px;
  max-height: 582px;
}

.tab {
  flex-wrap: nowrap;
}
.tab button {
  border: 0;
  border-bottom: 1px solid var(--primary-border);
}
.tab button:first-child {
  border-right: 1px solid var(--primary-border);
}
