$contentHeight: 552px;

.content {
  border: 1px solid var(--primary-border);
  @media (max-width: 960px) {
    border-left: 0;
    border-right: 0;
  }
}

.tabContent {
  background: var(--primary-background);

  display: flex;
  flex-direction: column;
  height: $contentHeight;

  @media (max-width: 960px) {
    height: 100%;
  }
}

.tab {
  flex-wrap: nowrap;
}
.tab button {
  border: 0;
  border-bottom: 1px solid var(--primary-border);
}
.tab button:first-child {
  border-right: 1px solid var(--primary-border);
}

.statsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  gap: 24px;

  @media (max-width: 960px) {
    flex-direction: column;
    padding: 24px 0;
  }
}
