.wrapper {
  background: url('./banner.png') no-repeat center;
  border: 1px solid var(--color-gray-4);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  max-width: 715px;
  width: 100%;
  max-height: 133px;
  object-fit: cover;

  @media screen and (max-width: 1024px) {
    justify-content: center;
    gap: 30px;
    max-width: 100%;
  }
}

.title {
  font: var(--font-text-2);
}

.subtitle {
  font: var(--font-text-3);
  margin-top: 20px;

  @media screen and (max-width: 1024px) {
    font: var(--font-text-5);
    font-weight: 400;
    margin-top: 10px;
  }
}

.btn {
  padding: 12px 96px;
  max-height: 48px;

  @media screen and (max-width: 1024px) {
    padding: 8px 34px;
  }
}
