.block {
  max-width: 638px;
  width: 100%;
  height: 100%;
}

.subtitle {
  font: var(--font-h6);
  margin-bottom: 32px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headerTitle {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 269px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nftInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nftImage {
  width: 58px;
  height: 58px;
}

.nftName {
  font: var(--font-text-2);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  height: 12px;
  path {
    fill: var(--gray-color-2);
  }
}

.countdown {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);
  font-size: 14px;
}

.btn {
  margin-top: 32px;
  height: 48px;
  width: 100%;
}
