.sidebarWrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;

  width: 300px;
  background-color: var(--white-color);
  border-left: 1px solid var(--gray-color-2);
  z-index: 2;
  transform: translateX(calc(100% + 10px));
  transition: transform var(--transition-1), opacity var(--transition-1),
    padding-top var(--transition-1);
  padding-top: 96px;

  &.visible {
    z-index: 3;
    transform: translateX(0);
    opacity: 1;

    .sidebar {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1023px) {
    transform: translateY(calc(100%));
    right: 0;

    &.visible.collapsed {
      transform: translateY(calc(100% - 90px));
      padding-top: 0;
    }
  }
}

.headerHidden {
  padding-top: 0;
}

.collapsed {
  @media screen and (max-width: 1279px) {
    transform: translateY(calc(100%));
  }
}

.sidebar {
  overflow: auto;
  transition: transform var(--transition-1), opacity var(--transition-1);
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;

  @media screen and (max-width: 375px) {
    max-width: none;
    width: 100%;
  }
}
