.sortWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  @media screen and (max-width: 960px) {
    align-items: unset;
  }
}

.switchView {
  display: flex;
  align-items: center;
  gap: 4px;
}
.switchViewButton {
  height: 32px;
  width: 32px;
}
.switchViewButton.active {
  border-color: var(--secondary-border);
}

.searchInput {
  max-width: 173px;
  margin-right: 20px;
  width: unset;

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}
