.btn {
  width: 100%;
  padding: 0;
  font: var(--font-body-small);
  justify-content: center;
  height: 48px;
}

.modal {
  :global {
    z-index: 2;

    .ant-modal-body {
      padding: 0;
      margin: -1px;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--primary-text);
    background-color: var(--primary-text);
    top: 4px;
    left: 4px;
  }
}

.content {
  padding: 32px;
}

.closeModalSection {
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--primary-background);
  border-radius: 30px;
  position: absolute;
  top: -64px;
  right: 0;

  @media screen and (max-width: 1023px) {
    top: -60px;
  }

  @media screen and (max-width: 550px) {
    top: -55px;
    height: 35px;
  }
}

.slider {
  padding: 15px 5px 64px;
}

.closeModalIcon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary-border);
  background: var(--primary-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;
  transition: border-color var(--transition-1);

  @media screen and (max-width: 550px) {
    font-size: 18px;
    height: 35px;
    width: 35px;
  }
}

.closeIcon {
  width: 12px;

  stroke: var(--secondary-border);

  rect {
    fill: var(--secondary-border);
  }
  @media screen and (max-width: 470px) {
    width: 15px;
  }
}

.info {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.infoTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
}

.infoValue {
  color: var(--primary-text);
  font: var(--font-text-8);
}

.input {
  margin-bottom: 10px;
}

.errors {
  height: 16px;
  font: var(--font-text-6);
  color: var(--red-error-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
