.btn {
  width: 100%;
  padding: 0;
  font: var(--font-body-small);
  justify-content: center;
  height: 48px;
}

.modal {
  :global {
    z-index: 2;

    .ant-modal-body {
      padding: 0;
      margin: -1px;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--primary-text);
    background-color: var(--primary-text);
    top: 4px;
    left: 4px;
  }
}

.content {
  padding: 32px;

  @media screen and (max-width: 767px) {
    padding: 24px;
  }
}

.closeModalSection {
  height: 40px;
  display: flex;
  align-items: center;
  background: var(--primary-background);
  border-radius: 30px;
  position: absolute;
  top: -64px;
  right: 0;

  @media screen and (max-width: 1023px) {
    height: 32px;
    top: -48px;
  }

  @media screen and (max-width: 767px) {
    height: 24px;
    top: -38px;
  }
}

.slider {
  padding: 15px 5px 64px;
}

.closeModalIcon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary-border);
  background: var(--primary-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    height: 32px;
    width: 32px;
  }
  @media screen and (max-width: 767px) {
    height: 24px;
    width: 24px;
  }
}

.closeIcon {
  width: 12px;

  stroke: var(--secondary-border);

  rect {
    fill: var(--secondary-border);
  }

  @media screen and (max-width: 1024px) {
    width: 10px;
  }
}

.info {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.infoTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
}

.infoValue {
  color: var(--primary-text);
  font: var(--font-text-8);
}

.input {
  margin-bottom: 10px;
}

.errors {
  height: 16px;
  font: var(--font-text-6);
  color: var(--red-error-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.boundsWrapper {
  border: 1px solid var(--red-color);
  background-color: rgba(255, 31, 71, 0.1);
  padding: 16px;
  margin-bottom: 16px;
}

.boundsDesc {
  color: var(--secondary-border);
  font: var(--font-text-8);
}

.boundsReadMore {
  border-bottom: 1px solid var(--blue-color);
  color: var(--blue-color);
  cursor: pointer;
  font: var(--font-body-small);
  margin-top: 16px;
  width: 85px;

  @media screen and (max-width: 1024px) {
    font-size: 14px;
    width: 75px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 8px;
  }
}
