.tabsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 1px;
  margin-top: 1px;
}

.tab {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-gray-4);
  }

  @media screen and (max-width: 1023px) {
    height: 40px;
  }
}

.primary {
  flex: 1;
  border: 1px solid var(--primary-border);
  background: var(--secondary-background);
  color: var(--black-color);
  font: var(--font-text-8);

  &:hover {
    background: var(--secondary-background);
  }
}

.tabActive {
  border: 1px solid var(--black-color);

  &,
  &:hover {
    background: var(--primary-background);
    pointer-events: none;
  }
}

.tip {
  position: absolute;
  top: -4px;
  right: -10px;
  min-width: 22px;
  height: 16px;
  background-color: #5d5fef;
  color: white;
  border-radius: 10px;
  padding: 2px 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}
