.tabsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tab {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-gray-4);
  }

  @media screen and (max-width: 1023px) {
    height: 40px;
  }
}

.primary {
  flex: 1;
  border: 1px solid var(--color-gray-4);
  color: var(--white-color);
  font: var(--font-text-3);
  padding: 14px;

  &:hover {
    background: var(--gray-color-7);
  }
}

.secondary {
  border: 0;
  color: var(--color-gray-4);
  font: var(--font-text-1);
}

.tabActive {
  &,
  &:hover {
    background: var(--white-color);
    color: var(--black-color);
    pointer-events: none;
  }
}

.tabActiveSecondary {
  &,
  &:hover {
    background: transparent;
    border-bottom: 1px solid var(--accent-color-1);
    color: var(--white-color);
    outline: none;
    margin-bottom: -2px;
  }
}
