.tabsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 1px;
  margin-top: 1px;
}

.tab {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    color: var(--gray-color-2);
  }

  @media screen and (max-width: 1023px) {
    height: 40px;
  }
}

.primary {
  flex: 1;
  border: 1px solid var(--secondary-border);
  background: var(--secondary-background);
  color: var(--secondary-border);
  font: var(--font-text-8);

  &:hover {
    background: var(--primary-background);
  }
}

.tabActive {
  border: 0;
  border-top: 1px solid var(--secondary-border);
  background: var(--primary-background);

  &,
  &:hover {
    pointer-events: none;
  }

  &:first-child {
    border-left: 1px solid var(--secondary-border);
  }
  &:last-child {
    border-right: 1px solid var(--secondary-border);
  }
}

.tip {
  position: absolute;
  top: -12px;
  left: 24px;
  min-width: 31px;
  height: 25px;
  background-color: var(--light-green-color);
  color: var(--button-text);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-text-5);
}
