.nftsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  align-items: stretch;
  gap: 16px;

  &::-webkit-scrollbar {
    height: 0;
  }

  @media (max-width: 960px) {
    grid-template-columns: unset;
    display: flex;
    overflow: auto;
    max-height: 234px;

    & > div {
      min-width: 168px;
    }
  }

  @media (max-width: 550px) {
    & > div {
      min-width: 109px;
    }
  }
}
