.sidebarWrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 344px;
  background-color: var(--primary-background);
  border-left: 1px solid var(--primary-border);
  z-index: 2;
  transform: translateX(calc(100% + 10px));
  padding-top: 76px;

  &.visible {
    z-index: 3;
    transform: translateY(0);
    opacity: 1;

    .sidebar {
      opacity: 1;
    }

    @media screen and (max-width: 767px) {
      max-height: 530px;
      margin: -1px;
    }

    @media screen and (max-width: 767px) {
      &.collapsedSidebar {
        transform: translateY(calc(100% - 86px)) !important;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    transform: translateY(calc(100%));
    right: 0;

    &.visible.collapsed {
      transform: translateY(calc(100% - 90px));
      padding-top: 0;
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    top: initial;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    border-top: 1px solid var(--secondary-border);
  }
}

@media screen and (max-width: 767px) {
  .collapsedContentVisible {
    display: flex !important;
    justify-content: center;
    padding: 30px 16px 16px;
  }

  .collapsedBtn {
    display: block !important;
    height: 40px;
    width: 100%;
  }
  .sidebarHidden {
    display: none !important;
  }
}

.dropdown {
  display: none;
}

.collapsedContent {
  display: none;
}

.collapsedBtn {
  display: none;
}

.sidebar {
  overflow: auto;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;

  @media screen and (max-width: 767px) {
    overflow: unset;
  }
}

.nftSlider {
  width: 100%;
  min-height: 191px;
  padding: 0 32px;

  :global {
    .swiper-slide {
      width: 100% !important;
      margin-right: 0 !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      padding-top: 20px;
      min-height: 125px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0 24px;
    padding-top: 4px;
    min-height: 120px;
    overflow: unset !important;
  }

  @media screen and (max-width: 767px) {
    :global {
      .swiper-slide {
        min-height: unset;
      }
    }
  }
}

.btnWrapper {
  position: absolute;
  bottom: -20px;
  left: 4px;
  display: flex;
  gap: 10px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 12px;
    left: 50%;
    display: flex;
    transform: translate(-50%);
    gap: 10px;
  }
}

.btn {
  min-width: 35px;
  min-height: 35px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }
}

.rotateLeft {
  transform: rotate(90deg);
}

.rotateRight {
  transform: rotate(270deg);
}

.rotateUp {
  transform: rotate(180deg);
}

.image {
  width: 90px;
  height: 90px;
  background-color: var(--secondary-background);
  object-fit: fill;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) {
    height: 48px;
    width: 48px;
  }

  @media screen and (max-width: 767px) {
    min-height: 48px;
    min-width: 48px;
  }
}

.removeBtn {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  z-index: 9;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  &:hover {
    border-color: var(--secondary-border);
  }

  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.nftName {
  font: var(--font-text-2);
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: left;
  }
}

.mobileSlide {
  display: none;

  @media screen and (max-width: 767px) {
    border: 1px solid var(--primary-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.removeBtnMobile {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }
}

.mobileSlideInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .dropdown {
    cursor: pointer;
    display: block;
    position: fixed;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 32px;
    width: 32px;
    z-index: 3;
  }
}

.icon {
  height: 28px;
  width: 28px;
}
