.rowCenter {
  display: flex;
  align-items: center;
  gap: 4px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  @media (max-width: 1300px) {
    display: none;
  }
}

.stats {
  @extend .column;
  align-items: flex-start;
  width: 100%;
}

.values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.collectionGeneralInfo {
  @extend .rowCenter;
  gap: 8px;
  height: 34px;

  @media (max-width: 1300px) {
    display: none;
  }
}
.collectionImage {
  height: 32px;
  width: 32px;
}
.collectionName {
  font: var(--font-text-5);
  width: 200px;
}

.label {
  color: var(--secondary-text);
  font: var(--font-text-7);
  line-height: 16px;
  text-transform: uppercase;
}

.value {
  @extend .rowCenter;
  font: var(--font-text-8);
  font-size: 14px;
}

.highlightPositiveText {
  color: #6db315;
}

.solanaIcon {
  width: 12px;
  height: 12px;
}
