.stats {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
}

.label {
  font: var(--font-text-5);
  text-align: center;
  text-transform: uppercase;
}

.value {
  font: var(--font-subtitle);
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 24px;
}
