@import '../../scss/abstracts/mixins';

.poolsCreation {
  width: calc(100% - 344px);

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 145px;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-row: 1fr;
  }
}

.headerWrapper {
  display: flex;
  gap: 32px;

  @media screen and (max-width: 768px) {
    gap: 0;
    margin-top: 0;
    align-items: center;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  padding: 24px;

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
}

.blockTitle {
  margin-bottom: 20px;

  font: var(--font-subtitle-2);
  font-size: 32px;
  text-align: center;
  color: var(--secondary-border);

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.blockSubtitle {
  margin: 8px 0 32px;

  font: var(--font-text-1);
  font-size: 24px;
  color: var(--secondary-border);

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.blockContent {
  @include flex(column, nowrap, null, null);
  width: 100%;
}

.toggle {
  min-width: 160px;
}

.slider {
  margin-top: 24px;
  padding: 15px 5px 64px;
}

.btn {
  margin-top: 24px;
  width: 100%;
  height: 48px;
}

.btnConfirm {
  width: 100%;
  height: 48px;
}

.sorting {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font: var(--font-text-6);
  text-transform: uppercase;
  color: var(--gray-color-2);
}

.filtersDropdown {
  position: absolute;
  top: 45px;
  right: 0;
}

.search {
  max-width: 350px;
}

.input {
  margin-bottom: 10px;
}

.nftsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  gap: 24px;
  align-items: stretch;
  padding-right: 334px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.nftListActive {
  padding-right: 0;
}

.noSuiableMessageWrapper {
  color: var(--secondary-border);
}

.noSuiableMessage {
  font: var(--font-text-4);
  margin-bottom: 6px;
}

.acceptedCollectionsLink {
  font: var(--font-text-8);
  color: var(--blue-color);

  &::after {
    background-color: var(--blue-color);
  }

  &:hover {
    color: var(--blue-color);
  }

  svg path {
    fill: var(--blue-color);
  }
}

.loader {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  font: var(--font-text-2);

  &::after {
    animation: dots 2s linear infinite;
    width: 16px;
    content: '...';
  }
}

.mark {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;

  svg {
    width: 11px;
  }
}

.separator {
  font: var(--font-text-2);
  font-size: 32px;
}

.errors {
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font: var(--font-text-6);
  color: var(--red-error-color);
}
