.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title,
.value {
  font: var(--font-subtitle);
  font-size: 40px;
}

.label {
  font: var(--font-text-5);
  text-transform: uppercase;
}

.button {
  height: 48px;
  width: 100%;
}
