.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  @extend .column;
  padding: 0 0 16px 16px;
}

.title,
.value {
  font: var(--font-subtitle);
  font-size: 40px;
}

.label {
  font: var(--font-text-5);
  text-transform: uppercase;
}
