// .marketNFTsList {
// }

.itemsSortWrapper {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 20px;
  font: var(--font-text-3);

  @media screen and (max-width: 767px) {
    font-size: 15px;
  }

  @media screen and (max-width: 370px) {
    flex-wrap: wrap;
  }
}

.filtersIconWrapper {
  color: var(--accent-color-1);
  font-size: 15px;
  display: none;

  @media screen and (max-width: 700px) {
    display: block;
  }

  svg {
    margin-left: 8px;
  }
}

.itemsAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-grow: 1;
  color: var(--color-gray-4);

  @media screen and (max-width: 700px) {
    margin-left: auto;
    flex-grow: 0;
  }

  &::before {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-gray-4);

    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    path {
      stroke: var(--white-color);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}

.sortingSelect {
  span {
    color: var(--white-color);
  }
}

.sortingSelectValueContainer {
  svg {
    position: relative;
    top: 2px;

    path {
      stroke: var(--accent-color-1) !important;
    }
  }

  .sortName {
    color: var(--accent-color-1);
  }
}

.filtersIconWrapper {
  color: var(--accent-color-1);
  font-size: 15px;
  display: none;

  @media screen and (max-width: 700px) {
    display: block;
  }

  svg {
    margin-left: 8px;
  }
}
