.wrapper {
  padding-top: 35px;
  padding-bottom: 64px;
  height: 100%;
}

.goBackBtn {
  margin-bottom: 35px;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  column-gap: 120px;

  @media screen and (max-width: 1200px) {
    column-gap: 50px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.col {
  max-width: 420px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    max-width: 350px;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

.btnItem {
  display: flex;
  min-height: 88px;
  min-width: 267px;
  max-width: 100%;
  width: 100%;

  a {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color-7);
    transition: background-color var(--transition-1);

    &:hover {
      background-color: var(--gray-color-3);
    }
  }
}

.sliderBig {
  height: 420px;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;

  @media screen and (max-width: 1023px) {
    height: 350px;
  }

  @media screen and (max-width: 767px) {
    max-width: 350px;
  }

  @media screen and (max-width: 370px) {
    max-width: 300px;
    height: 300px;
  }

  &::before {
    content: '';
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    border: 1px solid var(--gray-color-6);
    top: 10px;
    left: 10px;
    z-index: -1;
  }
}

.sliders {
  margin-bottom: 30px;
}

.slideBig,
.slideSmall {
  width: 100%;
  max-width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: var(--gray-color-5);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid var(--gray-color-6);
}

div.sliderSmall {
  padding-bottom: 15px;
  margin-top: 0;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 35px;
    height: 100%;
    z-index: 5;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &::after {
    right: 0;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  :global {

    .swiper-button-prev {
      left: 0;

      &::after, {
        font-size: 18px;
        color: var(--white-color);
        font-weight: 700;
      }
    }

    .swiper-button-next {
      right: 0;

      &::after, {
        font-size: 18px;
        color: var(--white-color);
        font-weight: 700;
      }
    }

    .swiper-button-disabled {
      color: var(--gray-color-3)
    }

    .swiper-scrollbar {
      width: 100%;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: var(--gray-color-3);
      z-index: 9;
    }

    .swiper-scrollbar-drag {
      background-color: #fff;
      height: 5px;
    }
  }
}

.slideSmall {
  width: 100px;
  height: 100px;
  border: none;
}

.nftName {
  font: var(--font-secondary);
  line-height: 17px;
  margin-top: 14px;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;

  span {
    margin-right: 10px;
  }
}

.mainInfoWrapper {
  @media screen and (max-width: 1023px) {
    padding-left: 50px;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding-left: 0;
    max-width: 500px;
    margin-top: 25px;
  }
}

.detailsHeaderDesc {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.detailsHeaderMobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.description {
  padding: 64px 0 32px;
  font: var(--font-body-small);

  @media screen and (max-width: 1023px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.attributesTable {
  padding-bottom: 32px;
  font: var(--font-secondary);

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;

    p:first-child {
      order: 1;
    }

    p:last-child {
      order: 3;
      word-break: break-word;
      text-align: right;
    }

    &::before {
      content: '';
      display: inline-block;
      height: 1px;
      flex-grow: 1;
      background: var(--gray-color-3);
      order: 2;
      min-width: 25px;
      margin-top: 11px;
    }
  }

  @media screen and (max-width: 1023px) {
    padding-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  max-height: 520px;
  background-color: var(--gray-color-5);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid var(--gray-color-6);

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--gray-color-6);
    top: 10px;
    left: 10px;
    z-index: -1;
  }

  @media screen and (max-width: 1023px) {
    flex-basis: 300px;
    flex-shrink: 0;
  }

  @media screen and (max-width: 767px) {
    max-width: 500px;
  }
}

.buyout {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &Controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__title {
    font: var(--font-btn-mid);
    margin-bottom: 6px;
    font-weight: 700;
    min-height: 30px;
  }

  &__tokenField {
    pointer-events: none;
    max-height: 61px;
    width: 280px;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }

  &__connectWalletBtn {
    font: var(--font-btn-small);
    max-width: 180px;
    min-height: 100%;
  }

  &__buyoutBtn {
    min-height: 100%;
    padding-top: unset;
    padding-bottom: unset;
    height: 61px;

    @media screen and (max-width: 450px) {
      width: 100%;
      display: block;
    }
  }

  &__fee {
    font: var(--font-smallest);
    font-size: 12px;
    color: var(--gray-color-8);
    padding: 8px 0 0;
  }
}

.detailsPlaceholder {
  min-height: 97px;
}

.tabs {
  width: 100%;
  display: flex;
}

.tab {
  padding: 18px 24px;
  width: 120px;
  font: var(--font-btn-small);
  color: var(--white-color);
  background: transparent;
  border: 1px solid var(--gray-color-3);
  cursor: pointer;
  transition: background var(--transition-1), color var(--transition-1);

  @media screen and (max-width: 1023px) {
    font-size: 15px;
    width: 33%;
    height: 38px;
    padding-top: 10px;
  }

  &:hover {
    background: var(--gray-color-7);
  }

  &Active,
  &Active:hover {
    background: var(--white-color);
    color: var(--black-color);
    pointer-events: none;
  }
}

.tabContent {
  padding-top: 24px;

  @media screen and (max-width: 1023px) {
    padding-top: 15px;
  }
}

.allNfts {
  margin-top: 60px;

  @media screen and (max-width: 767px) {
    margin-top: 90px;
  }
}

.nftsTitle {
  font: var(--font-h4);

  @media screen and (max-width: 767px) {
    font-size: 32px;
  }

  @media screen and (max-width: 450px) {
    font-size: 28px;
  }

  span {
    margin-right: 15px;
    color: var(--accent-color-1)
  }
}