.stakingInfo {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.stakingRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 20px;
}

.stakingBalance {
  flex-grow: 1;
}

.stakingBtn {
  width: 30%;
}
