@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 32px;
  gap: 32px;
  width: 100%;
  overflow: auto;

  @media (max-width: 1240px) {
    padding: 24px;
    gap: 24px;
  }

  @media (max-width: 960px) {
    @include flex-column;
    padding: 16px;
    height: 100%;
  }
}

.searchableList {
  @include flex-column;
  gap: 16px;
  width: 100%;

  @media ((max-width: 1240px) and (min-width: 960px)) {
    width: 60%;
  }
}

.search {
  @media ((max-width: 1240px) and (min-width: 960px)) {
    @include flex-column;
    align-items: flex-start !important;
  }
}

.content {
  @include flex-column;
  gap: 24px;
  width: 100%;

  @media (max-width: 550px) {
    gap: 16px;
  }
}

.nftsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  align-items: stretch;
  gap: 16px;
  overflow: auto;

  @media (max-width: 1240px) {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
  }

  &::-webkit-scrollbar {
    height: 0;
  }

  @media (max-width: 960px) {
    grid-template-columns: unset;
    display: flex;
    gap: 8px;
    height: 200px;

    & > div {
      min-width: 168px;
      max-width: 168px;
    }
  }

  @media (max-width: 550px) {
    height: 164px;

    & > div {
      min-width: 115px;
      max-width: 115px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 16px;
  height: 40px;
  width: 100%;
}
