.faq {
}

.title {
  font: var(--font-h3);
  margin-bottom: 64px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  border-bottom: 1px solid var(--gray-color-2);
  overflow: hidden;

  &Label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font: var(--font-btn-mid);
    color: var(--white-color);
    cursor: pointer;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      height: 22px;
      width: 22px;
      display: block;
      background: url('./add.svg');
      background-size: 100%;
      opacity: 0.3;
      transition: opacity var(--transition-1);
    }
  }

  &Content {
    max-height: 0;
    font: var(--font-btn-small);
    color: var(--white-color);
    transition: all var(--transition-1);
  }
}

input:checked {
  + .tabLabel {
    &::after {
      background: url('./remove.svg');
    }
  }
  ~ .tabContent {
    max-height: unset;
    padding: 24px 0 30px;
  }
}
