.searchCollection {
  height: unset;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.searchInput {
  width: 100%;
  padding: 16px !important;
  height: 100% !important;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font: var(--font-text-6);
  color: var(--gray-color-2);
  text-transform: uppercase;
}

.clear {
  position: relative;
  font: vat(--font-btn-middle);
  color: var(--blue-color);
  text-transform: capitalize;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--blue-color);
  }
}

.centered {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  position: absolute;
  top: 86px;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 216px;
  max-width: 788px;

  border: 1px solid var(--secondary-border);
  background: var(--primary-background);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 0px,
    var(--secondary-border) 4px 4px 0px 0px;
}

.collections {
  padding: 16px;
  width: 100%;
  height: 212px;

  overflow-y: scroll;

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 176px);
}

.item {
  display: flex;
  gap: 8px;

  cursor: pointer;
}

.image {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.selected {
  position: relative;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--light-green-color) !important;
  border: var(--border-black-1);
}

.title {
  font: var(--font-text-8);
}
