.content {
  padding-bottom: 50px;
  padding-left: 20px;
  width: 100%;
  padding-top: 164px;
  position: relative;
}

.buyContent {
  @media screen and (max-width: 1023px) {
    padding-top: 218px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 268px;
  }
}

.sellContent,
.swapContent,
.infoContent,
.stakeContent {
  @media screen and (max-width: 1023px) {
    padding-top: 196px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 194px;
  }
}
