.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 638px;
  height: 252px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    height: 230px;
    max-width: unset;
  }
}

.btnWrapper {
  display: flex;
  gap: 24px;
  width: 100%;
}

.btn {
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    height: 40px;
  }
}

.title {
  font: var(--font-h6);
  margin-bottom: 32px;
  line-height: 34px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 28px;
  }
}

.tooltip {
  display: flex;
  align-content: center;
  gap: 4px;
  margin-bottom: 10px;
}

.questionIcon {
  width: 18px;
  margin-top: -1px;

  svg {
    fill: var(--blue-color);
  }
}

.subtitle {
  color: var(--secondary-border);
  font: var(--font-text-6);
  text-transform: uppercase;
  line-height: 14px;
}

.value {
  color: var(--secondary-text);
  font: var(--font-subtitle);
  margin-bottom: 5px;
  line-height: 42px;
}
