.tokens {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyMessage {
  font: var(--font-btn-mid);
}
