.cardWrapper {
  padding: 0 10px 10px 0;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid var(--gray-color-6);
  position: relative;
  background: var(--black-color);
  user-select: none;
  transition: border var(--transition-1);
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--gray-color-6);
    top: 10px;
    left: 10px;
    z-index: -1;
  }
}

.image {
  width: 100%;
  background-color: var(--gray-color-7);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--gray-color-6);
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 196px;
  flex-grow: 1;
  padding: 24px;
}

.title {
  font: var(--font-subtitle-2);
  flex-grow: 1;
  margin-bottom: 12px;

  @media screen and (max-width: 768px) {
    font: var(--font-text-3);
  }
}

.btn {
  height: 40px;
  padding: 0;
  justify-content: center;
  margin-top: 20px;
}

.countdown {
  display: flex;
  align-items: center;

  @media screen and (max-width: 500px) {
    font: var(--font-text-2);
  }
}

.timeDelim {
  margin-left: 5px;
  margin-right: 5px;
}

.progressWrapper {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-4);
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}
.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  background-color: var(--accent-color-1);
}

.valuesWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.valueWrapper {
  display: flex;
  flex-direction: column;
}
.valueTitle {
  color: var(--color-gray-4);
  font: var(--font-text-7);
  margin-bottom: 4px;
  text-transform: uppercase;
}
.valueInfo {
  display: flex;
  align-items: center;
  color: var(--white-color);
  font: var(--font-text-3);
  gap: 5px;
}
.valueInfoHealth {
  gap: unset;
  flex-direction: column;
  align-items: unset;
}
.valueInfoSolImage {
  width: 24px;
  height: 24px;
}
