.cardWrapper {
  height: 100%;
  border: 1px solid var(--primary-border);

  &:hover {
    border-color: var(--secondary-border);
  }
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  background: var(--primary-background);
  user-select: none;
  display: flex;
  flex-direction: column;
}

.isSelected {
  border: 3px solid var(--light-green-color);
}

.isGracePeriodCard {
  border: 1px solid var(--orange-color);
  &:before {
    border: 1px solid var(--orange-color);
  }
}

.imageShadow {
  background: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 5px;
  width: 34px;
  border-radius: 5px;
}

.isGracePeriodImage {
  box-shadow: inset 0px 0px 100px var(--orange-color);
}

.image {
  width: 100%;
  background-color: var(--secondary-background);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 196px;
  flex-grow: 1;
  padding: 16px;
}

.title {
  font: var(--font-text-2);
  flex-grow: 1;
  margin-bottom: 12px;
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.btnWrapperRow {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.reward {
  display: flex;
  flex-direction: column;
  min-height: 43px;
  margin-top: 8px;
}

.rewardTitle {
  color: var(--color-gray-4);
  font: var(--font-smallest);
  font-family: var(--font-family-inter);
  text-transform: uppercase;
}

.btn {
  height: 40px;
  padding: 0;
  justify-content: center;
  width: 100%;
}

.timerWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  margin-top: 2px;

  path {
    fill: var(--gray-color-2);
  }
}

.countdown {
  display: flex;
  align-items: center;
  font: var(--font-text-8);
}

.timeDelim {
  margin-left: 5px;
  margin-right: 5px;
}

.progressWrapper {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-background);
  border-radius: 2px;
  position: relative;
  margin: 4px 0 16px;
  overflow: hidden;
}
.progress {
  background-color: var(--light-green-color);
  border: var(--border-black-1);
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
}

.valuesColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 110px;
}

.valuesWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.valuesWrapperColumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.valuesWrapperRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.valueWrapper {
  display: flex;
  flex-direction: column;
}
.valueWithTooltip {
  display: flex;
  align-items: center;
  gap: 10px;
}
.valueTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary-text);
  font: var(--font-text-6);
  margin-bottom: 4px;
  text-transform: uppercase;
  max-width: 136px;
}
.values {
  max-width: 136px;
}
.valueInfo {
  display: flex;
  align-items: center;
  color: var(--black-color);
  font: var(--font-text-8);
  gap: 5px;
}
.valueInfoHealth {
  position: relative;
  gap: unset;
  flex-direction: column;
  align-items: unset;
}
.valueInfoSolImage {
  width: 24px;
  height: 24px;
}

.questionIcon {
  svg {
    fill: var(--blue-color);
    width: 18px;
    height: 18px;
  }
}

.graceTitle {
  color: var(--orange-color);
}
.graceIcon {
  path {
    fill: var(--orange-color);
  }
}

.textRight {
  text-align: right;
}
