.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.searchFilterWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
