.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.searchAndFilterWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.sortAndToggleWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
