.container {
  border-bottom: 1px solid var(--primary-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 16px;
  width: 100%;
}

.sortAndFilterWrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 650px) {
    gap: 8px;
  }
}

.sortDropdown {
  display: flex;
}
.sortDropdown.hidden {
  @media (max-width: 960px) {
    display: none;
  }
}
