.sidebarWrapper {
  position: fixed;
  top: 88px;
  right: 10px;
  width: 425px;
  background-color: var(--black-color);
  z-index: 2;
  transform: translateX(425px);
  transition: transform var(--transition-1), opacity var(--transition-1);
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1450px) {
    max-width: 370px;
    width: 100%;
  }

  @media screen and (max-width: 550px) {
    right: 0;
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 1300px) {
      transform: translateY(100%);
  }
}

.visible {
  transform: translateX(0);
  opacity: 1;

  .sidebar {
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .sidebarWrapper {
    transform: translateY(100%);
  }
  .mobileSidebar {
    transform: translateY(0);
  }
}


.mobileSidebar .selectedVaults {
  top: 0;
}

.sidebar {
  overflow-y: auto;
  background-color: var(--black-color);
  transition: transform var(--transition-1), opacity var(--transition-1);
  height: calc(100vh - 88px);
  border-top: 1px solid var(--gray-color-6);
  border-left: 1px solid var(--gray-color-6);
  opacity: 0;
  display: flex;
  flex-direction: column;
 }

.separator {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  background-color: var(--gray-color-3);
}

.toggle {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.toggle_wrapper {
  padding: 0 24px;
  margin-bottom: 32px;
}

.selectedVaults {
  position: absolute;
  width: 100%;
  z-index: 9;
  left: 0;
  right: 0;
  top: -90px;
  display: none;
  border: 1px solid var(--gray-color-6);
  background-color: var(--accent-color-1);
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    font-size: 25px;
  }
  @media screen and (max-width: 1300px) {
    display: block;
  }
}