.sidebarWrapper {
  position: fixed;
  top: 88px;
  right: 10px;
  width: 400px;
  background-color: var(--black-color);
  z-index: 2;
  transform: translateX(400px);
  transition: transform var(--transition-1), opacity var(--transition-1);
  display: flex;
  flex-direction: column;

  &_visible {
    transform: translateX(0);
    opacity: 1;

    .sidebar {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1450px) {
    max-width: 350px;
    width: 100%;
  }

  @media screen and (max-width: 1300px) {
    transform: translateX(360px);

    &_isMobileSidebar {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1023px) {
    right: 0;
    top: 0;
    transform: translateX(350px);

    &_isMobileSidebar {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    max-width: 100%;
    transform: translateX(100%);

    &_isMobileSidebar {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 550px) {
  .sidebarWrapper_isMobileSidebar .selectedVaults {
    left: unset;
    z-index: 9;
    top: 100px;
    right: 0;
  }
}

.selectedVaults {
  position: absolute;
  left: -69px;
  top: 20px;
  width: 70px;
  display: none;
  background-color: #000000;
  padding-bottom: 5px;
  border-left: 1px solid var(--gray-color-6);
  border-top: 1px solid var(--gray-color-6);
  border-bottom: 1px solid var(--gray-color-6);

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65px;
  }

  span {
    line-height: 1;
    font-size: 30px;

    &:last-of-type,
    &:first-of-type {
      font-size: 40px;
      color: var(--gray-color-6);
      line-height: 0.3;
      animation: slide-arrow 1s ease-in-out infinite;

          & :local {
            animation: slide-arrow 3s ease-in-out infinite;
          }
    }
  }

  @media screen and (max-width: 1300px){
    display: block;
  }

  @media screen and (max-width: 1023px) {
    top: 110px;
  }
}

@keyframes slide-arrow {
  from  {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar {
  overflow-y: auto;
  background-color: var(--black-color);
  transition: transform var(--transition-1), opacity var(--transition-1);
  height: calc(100vh - 88px);
  border-top: 1px solid var(--gray-color-6);
  border-left: 1px solid var(--gray-color-6);
  opacity: 0;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 24px 24px 0;
    margin-bottom: 32px;
  }

  &__title {
    font: var(--font-subtitle-2);
    margin-bottom: 12px;

    @media screen and (max-width: 550px){
      margin-bottom: 50px;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    .sidebar__image {
      margin-bottom: 0;
    }

    margin-bottom: 32px;
  }

  &__image {
    width: 80px;
    height: 80px;
    background-color: var(--gray-color-7);
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid var(--gray-color-1);
    margin-bottom: 32px;
    position: relative;
  }

  &__removeBtn {
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray-color-3);
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    &::before {
      content: '-';
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: var(--gray-color-3);
  }

  &__details {
    padding: 0 24px;
    flex-grow: 1;
  }

  &__detailsTitle {
    font: var(--font-btn-small);
    margin-bottom: 24px;
  }

  &__fieldLabel {
    margin-bottom: 4px;
    font: var(--font-secondary);
    opacity: 0.25;
    text-transform: uppercase;
  }

  &__tokenName {
    font: var(--font-btn-small);
  }

  &__fieldWrapper {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: unset;
    }

    &Double {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 16px;
    }

    &_error {
      color: var(--red-color);
      font: var(--font-smallest);
      font-size: 12px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__stringInput {
    &,
    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      border: 1px solid var(--gray-color-3);
      border-color: var(--gray-color-3);
      padding: 10px 16px;
    }
  }

  &__continueBtn {
    &Container {
      width: 100%;
    }
    width: 100%;
    justify-content: center;
    font: var(--font-btn-small);
  }

  &__feeMessage {
    font: var(--font-smallest);
    font-size: 12px;
    color: var(--gray-color-8);
    padding: 0 24px 12px;
  }

  @media screen and (max-width: 1023px) {
    height: 100vh;
    padding-top: 88px;
  }
}

body .sidebar__stringInput {
  &,
  &:active {
    border: 1px solid var(--gray-color-3);
    border-color: var(--gray-color-3);
    padding: 10px 16px;
  }
}

.priceField {
  max-height: 61px;
}

.err {
  font-size: 10px;
  min-height: 32px;
  line-height: 32px;
  font-weight: bold;
  &:last-child {
    margin-bottom: 18px;
  }
}

.fraktionPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 18px;
}

.line {
  display: inline-block;
  height: 1px;
  flex-grow: 1;
  margin: 0 12px 0 12px;
  background-color: var(--gray-color-3);
}
