@mixin orderBookWidth {
  max-width: 280px;
  min-width: 280px;

  @media screen and (max-width: 960px) {
    max-width: unset;
    min-width: unset;
    width: 100% !important;
  }
}

.title {
  font: var(--font-text-5);
  font-size: 16px;
  text-align: right;

  @media screen and (max-width: 960px) {
    text-align: center;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text);
  font: var(--font-text-7);
  text-transform: uppercase;
  margin-top: 8px;
}
.label.hidden {
  @media screen and (max-width: 960px) {
    display: none;
  }
}

.orderBook {
  @include orderBookWidth;

  background: var(--primary-background);

  display: flex;
  flex-direction: column;
  margin-right: 24px;

  @media screen and (max-width: 960px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    gap: 24px;
    padding: 32px;
    height: auto;

    border-top: 1px solid var(--primary-border);
    box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.25);
    transition: top 0.2s linear;

    gap: 8px;

    &.active {
      top: calc(100% - 100px);
    }
  }
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 24px;
  height: 475px;

  @media screen and (max-width: 960px) {
    height: calc(100vh - var(--header-height) - 190px);

    &.active {
      display: none;
    }

    &.visible.active {
      height: calc(100vh - 115px);
    }
  }
}

.list {
  margin-top: 8px;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  height: auto;

  @media screen and (max-width: 960px) {
    &.active {
      display: flex;
      height: calc(100% - var(--header-height) - 64px);
      overflow-y: scroll;
    }
  }
}

.chevronButton {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -16px;
  left: calc(50% - 16px);

  width: 32px;
  height: 32px;

  transform: rotate(180deg);
}
.chevronButton.active {
  transform: rotate(0deg);
}
.chevronButton svg path {
  fill: var(--black-color);
}

.radioButton label {
  display: flex !important;
  justify-content: center;
  align-items: center;

  font-size: 12px;

  height: 22px;
  width: 32px !important;
}
