@import '@frakt/scss/abstracts/mixins';

.root {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  padding: 32px;
  max-width: 720px;
  width: 100%;
  @include flex(column, nowrap, null, null);
}

.errors {
  height: 16px;
  font: var(--font-text-6);
  color: var(--red-error-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider {
  margin-top: 24px;
  padding: 15px 5px 64px;
}

.input {
  margin-bottom: 10px;
}
