.sliderWrapper {
  width: calc(100% + 15px);
  border: var(--border-gray-1);
  border-radius: 10px;
  padding: 40px 0 40px 40px;
  position: relative;
  margin-right: -15px;

  @media screen and (max-width: 700px) {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 52px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 52px;
    left: 40px;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 2;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .3s ease-in;

    @media screen and (max-width: 700px) {
      left: 25px;
    }
  }


  &.notFirstSlide {
    &::before {
      opacity: 1;
    }
  }

  .sliderNavPrev {
    right: -56px;
    left: unset;
    top: -9px;

    @media screen and (max-width: 900px) {
      top: -12px;
    }

    @media screen and (max-width: 700px) {
      right: -30px;
      top: 0;
    }

    @media screen and (max-width: 500px) {
      top: -5px;
    }
  }

  .sliderNavNext {
    right: -122px;
    top: -9px;

    @media screen and (max-width: 900px) {
      top: -12px;
    }

    @media screen and (max-width: 700px) {
      right: -70px;
      top: 0;
    }

    @media screen and (max-width: 500px) {
      top: -5px;
    }
  }
}

.sliderTitle {
  position: absolute;
  background-color: var(--black-color);
  padding-right: 10px;
  padding-left: 10px;
  font: var(--font-text-1);
  left: 9%;
  top: -20px;

  @media screen and (max-width: 900px) {
    top: -17px;
  }

  @media screen and (max-width: 700px) {
    top: -15px;
  }

  @media screen and (max-width: 500px) {
    top: -10px;
  }
}

.slider {
  :global {
    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
    }
  }
}
