.title {
  font: var(--font-subtitle);
  font-size: 40px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  width: 192px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
