@import '../../../../scss/abstracts/mixins';

.wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 1240px) {
    flex-direction: column;
  }
}

.blockWrapper {
  width: 425px;
  height: 540px;
  border: 1px solid var(--primary-border);

  @media screen and (max-width: 1240px) {
    width: 100%;
    height: 100%;
  }
}

.block {
  @include flex(column, nowrap, space-between, null);
  background-color: var(--primary-background);
  border: 3px solid;
  width: 100%;
  height: 100%;
  padding: 31px;
  position: relative;

  @media screen and (max-width: 1240px) {
    padding: 24px;
  }

  .badge {
    color: var(--button-text);
    cursor: pointer;
    @include flex(row, nowrap, center, center);
    border: 1px solid transparent;
    position: absolute;
    top: -16px;
    right: 16px;
    font: var(--font-text-5);
    height: 33px;
    padding: 8px;
    max-width: 90px;
  }
}

.nfts {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  overflow: auto;
  max-height: 360px;

  @media screen and (max-width: 1240px) {
    padding-bottom: 16px;
  }

  @media screen and (max-width: 767px) {
    gap: 0;
  }
}

.value {
  font: var(--font-subtitle-2);
  padding-bottom: 16px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}

.icon {
  width: 83px;
  height: 83px;

  @media screen and (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
}

.success {
  border: 1px solid var(--light-green-color);
}

.btn {
  height: 48px;
  width: 100%;
}

.noSuiableMessageWrapper {
  color: var(--secondary-border);
}

.noSuiableMessage {
  font: var(--font-text-4);
  margin-bottom: 6px;
}

.acceptedCollectionsLink {
  svg path {
    fill: var(--blue-color);
  }
}
