.riskTabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.riskTab {
  cursor: pointer;
  background-color: var(--secondary-background);
  border: 1px solid var(--primary-text);
  width: 206px;
  min-height: 322px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  @media (max-width: 767px) {
    align-items: center;
    min-height: 290px;
    width: 100%;
  }
}

.riskTabActive {
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}

.riskTabInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.riskTabTitle {
  color: var(--secondary-border);
  font: var(--font-subtitle-2);
}

.riskTabInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.riskTabValue {
  color: var(--secondary-border);
  font: var(--font-text-8);

  @media (max-width: 767px) {
    text-align: center;
  }
}

.questionIcon {
  svg {
    fill: var(--blue-color);
    width: 18px;
    height: 18px;
  }
}
