@import '../../scss/abstracts/mixins';

.bondPage {
  width: calc(100% - 344px);

  @media screen and (max-width: 768px) {
    margin-bottom: 145px;
    width: 100%;
  }
}

.wrapper {
  display: flex;
  gap: 32px;

  @media screen and (max-width: 550px) {
    width: calc(100% - 44px);
    gap: 16px;
  }
}

.btnBack {
  @include flex(row, nowrap, center, center);

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;

  height: 40px;
  width: 40px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  &:hover {
    border-color: var(--secondary-border);
  }
}

.bondMarket {
  width: 100%;
  padding: 24px;
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);

  @media screen and (max-width: 550px) {
    padding: 16px;
  }
}

.bondMarketInfo {
  display: flex;

  @media screen and (max-width: 550px) {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}

.image {
  width: 80px;
  height: 80px;
  margin-right: 16px;

  @media screen and (max-width: 550px) {
    width: 40px;
    height: 40px;
  }
}

.title {
  font-family: var(--font-family-syne);
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;

  @media screen and (max-width: 550px) {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
}

.info {
  margin-top: 17px;
  display: flex;
  gap: 16px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    flex-direction: row;
  }

  @media screen and (max-width: 670px) {
    flex-direction: column;
    gap: 8px;
  }
}

.infoItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--primary-border);

  @media screen and (max-width: 550px) {
    padding: 8px;
  }
}
.infoItemBalance {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 550px) {
    align-items: center;
  }
}

.infoName {
  font: var(--font-text-6);
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-text);
}

.infoValue {
  margin-top: 4px;

  font: var(--font-text-8);
  font-size: 14px;
  text-transform: uppercase;
}

.btnBack {
  @include flex(row, nowrap, center, center);

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;

  height: 40px;
  width: 40px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  &:hover {
    border-color: var(--secondary-border);
  }

  @media screen and (max-width: 768px) {
    height: 32px;
    width: 32px;
    svg {
      height: 19px;
      width: 16px;
    }
  }

  @media screen and (max-width: 550px) {
    height: 28px;
    width: 28px;
    svg {
      height: 14px;
      width: 17px;
    }
  }
}

.btn {
  padding: 0 37px;
  height: 26px;
  font: var(--font-btn-middle);
}

.filtersDropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 236px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;

    width: 100% !important;
  }
}

.toggle {
  max-width: 160px;

  @media screen and (max-width: 767px) {
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 32px 0 24px;

  @media screen and (max-width: 1023px) {
    margin: 32px 0 32px;
  }

  @media screen and (max-width: 767px) {
    margin: 32px 0 24px;
  }
}

.searchInput {
  max-width: 173px;
  margin-right: 20px;
  width: unset;

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}

.filtersWrapper {
  position: relative;

  @media screen and (max-width: 768px) {
    position: initial;
  }
}

.bondList {
  display: grid;
  height: calc(100% + 400px);
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media screen and (max-width: 1366px) {
    margin-top: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 1150px) {
    margin-top: 32px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (max-width: 768px) {
    margin-top: 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 550px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
