.select {
  width: 100%;
  cursor: pointer;
  font: var(--font-text-8);
  color: var(--secondary-border);

  :global {
    .custom-select__control {
      background-color: var(--secondary-background);
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid var(--primary-border);

      cursor: pointer;
      flex-wrap: nowrap;
      min-height: 32px;
      height: 32px;
      justify-content: space-between;
      padding-left: 16px;

      @media screen and (max-width: 550px) {
        justify-content: flex-start;
      }

      &:hover {
        border-color: var(--secondary-border);
      }
    }
    .custom-select__control--is-focused {
      box-shadow: none;
      border: 0;
      border-bottom: 1px solid var(--secondary-border);
    }
    .custom-select__menu {
      background-color: var(--primary-background);
      border: 1px solid var(--secondary-border);
      border-radius: 0;
      z-index: 5;
      box-shadow: rgb(0 0 0 / 1%) 0px 0px 0px,
        var(--secondary-border) 4px 4px 0px 0px;
    }
    .custom-select__indicator-separator {
      display: none;
    }
    .custom-select__control--menu-is-open .custom-select__dropdown-indicator {
      color: var(--secondary-border);
      transform: rotate(180deg);
    }
    .custom-select__menu-list {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    .custom-select__option {
      background-color: transparent;
      border: 1px solid var(--secondary-border);
      padding: 8px;
      color: var(--secondary-border);
      cursor: pointer;
      &:active {
        background-color: transparent;
      }

      &:hover {
        opacity: 1;
      }

      &--is-selected {
        opacity: 1;
        color: var(--button-text);
        background-color: var(--light-green-color);
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

.label {
  margin-right: 8px;
}

.valueContainer {
  .input {
    position: absolute;
    top: 6px;
  }
}
