body {
  .toggle,
  .toggle:global(.ant-switch-disabled) {
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
    :global {
      opacity: 1;
      .ant-click-animating-node {
        display: none;
      }

      .ant-switch-handle {
        width: 39px;
        height: 8px;
        top: -10px;
        left: -16px;
      }
      .ant-switch-handle::before {
        width: 40px;
        height: 40px;
        background-color: var(--white-color);
        background: url('/src/iconsNew/sun.png');
        border-radius: 32px;
      }

      width: 37px;
      height: 20px;
      box-sizing: border-box;
      background-image: unset !important;
      background-color: var(--gray-color-4);
      border: 1px solid var(--gray-color-2);
      border-radius: 10px;
      margin: 10px 10px 9px 0;
    }
  }

  .toggle:global.ant-switch-checked {
    background: var(--light-green-color);
    .ant-switch-handle {
      transform: translateX(24px);
    }
  }

  .toggle:global.ant-switch-checked.ant-switch-disabled {
    .ant-switch-handle::before {
      background: var(--gray-color-1);
      box-shadow: none;
    }
  }
}