.details {
  padding: 0 24px;
  flex-grow: 1;

  @media screen and (max-width: 1450px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.detailsTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
  color: var(--gray-color-3);
  font: var(--font-text-5);
  text-transform: uppercase;
}

.continueBtnContainer {
  width: 100%;
}

.continueBtn {
  width: 100%;
  justify-content: center;
  font: var(--font-btn-small);
}

.radioWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
