.details {
  padding: 0 32px;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.detailsTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  margin: 45px 0 8px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    margin: 30px 0 0;
  }
}

.continueBtnContainer {
  width: 100%;
  padding: 32px;

  @media screen and (max-width: 767px) {
    padding: 16px;
    padding-top: 0;
  }
}

.continueBtn {
  padding: 14px 21px;
  width: 100%;
  justify-content: center;
  font: var(--font-btn-small);
  max-height: 60px;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    height: 40px;
  }
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 16px 0;

  @media screen and (max-width: 767px) {
    margin: 4px 0;
  }
}

.sliderLabel {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-align: center;
  text-transform: uppercase;
}

.slider {
  padding: 0 5px;
  :global {
    .ant-slider-mark-text:first-child {
      left: 25px !important;
    }
    .ant-slider-mark-text:last-child {
      left: 90.5% !important;
      width: 100px;
    }
  }
}

.select {
  :global {
    .custom-select__control {
      background-color: transparent;
    }
  }
}
