.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.content {
  top: 89px;
  position: fixed;
  width: 100%;
  height: calc(100vh - 89px);
  overflow-y: auto;
}
