.container {
  max-width: 1430px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  &.headerHide {
    top: -50px;
    transition: top .3s ease-in;

    @media screen and (max-width: 500px) {
      top: -36px;
    }
  }
}

.content {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  top: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
