.fieldWrapper {
  margin-bottom: 20px;
}

.formContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--gray-color-3);
  }
}

.formTitle {
  color: var(--gray-color-3);
  font: var(--font-text-5);
  text-transform: uppercase;
  width: 100%;
}

.tokenInfo {
  display: flex;
}

.tokenName {
  color: var(--gray-color-3);
  font: var(--font-text-3);
}

.tokenIcon {
  height: 23px;
  width: 23px;
}
