.sortingBtn {
  display: flex;
  gap: 4px;
}

.filterBtn {
  display: flex;
  height: 36px;
  width: 100%;
  padding: 6px;

  @media (max-width: 767px) {
    white-space: nowrap;
  }
}

.filterBtnActive {
  color: var(--button-text);
  background-color: var(--light-green-color);
}

.arrowDown {
  transform: rotate(180deg);
}

.filterBtnActive .icon {
  path {
    fill: var(--button-text);
  }
}

.icon {
  path {
    fill: var(--primary-icon);
  }
}
