@import '../../../../scss/abstracts/mixins';

.content {
  width: 100%;
  @include flex(row, nowrap, center, center);
  margin-bottom: 12px;

  @media screen and (max-width: 1180px) {
    justify-content: center;
    width: 100%;
  }
}

.container {
  position: relative;
  width: 100%;
}

.valuesWrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.value {
  @include flex(column, nowrap, flex-start, center);
  color: var(--black-color);

  @media screen and (max-width: 780px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.valueTitle {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.valueInfo {
  color: var(--black-color);
  font: var(--font-text-8);
}

.filters {
  position: absolute;
  right: 0;
  top: 0;
}

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px 30px;

  @media screen and (max-width: 1180px) {
    margin: 20px 0;
    width: 100%;
    justify-content: space-between;
  }
}

.filterBtn {
  display: flex;
  height: 36px;
  min-width: 60px;
}

.filterBtnActive {
}

.filtersContent {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 780px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.sortingSelect {
  margin-left: 8px;
  width: unset;

  span {
    display: flex;
    color: var(--white-color);
  }
}

.sortingSelectContainer {
  svg {
    path {
      stroke: var(--accent-color-1) !important;
    }
  }

  .sortName {
    color: var(--accent-color-1);
  }
  @media screen and (max-width: 780px) {
    font-size: 15px;
  }
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 32px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    margin-top: 2px;
    margin-left: 3px;

    path {
      stroke: var(--white-color);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }

  @media screen and (max-width: 1180px) {
    flex-direction: column;
  }
}

.filtersDropdown {
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
}

.sortingWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 36.5px;
  row-gap: 12px;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
}

.sorting {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.toggle {
  min-width: 160px;
}

.controllers {
  margin-top: 16px;
}
