.filterDropdownWrapper {
  position: relative;
}

.dropdown {
  background: var(--primary-background);
  border: 1px solid var(--secondary-border);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 0px,
    var(--secondary-border) 4px 4px 0px 0px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  position: absolute;
  top: 45px;
  right: 0;
  z-index: 11;

  @media screen and (max-width: 960px) {
    border: 0;
    border-top: 1px solid var(--secondary-border);
    padding: 24px;

    position: fixed;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.dropdownButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px;
  height: 32px;
  width: 202px;
  white-space: nowrap;
  font-size: 14px;
}

.dropdownButton span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  border-color: transparent;
  border-style: solid;
  display: flex;
  align-items: center;
  padding: 7px 14px;
  white-space: nowrap;
}

.rotate {
  transform: rotate(180deg);
}
