@mixin container {
  padding: 24px;
  background-color: var(--black-color);
  position: relative;
  z-index: 1;
}


.card-container {
  padding: 0 10px 10px 0;
  .card {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid var(--gray-color-3);
      top: 10px;
      left: 10px;
    }
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--gray-color-3);

    .content {
      border: 1px solid var(--gray-color-3);
    }

    .image {
      background-image: url('./img.png'); // just an example, should be props
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: var(--black-color);
      height: 360px;
      border-bottom: 1px solid var(--gray-color-3);
      position: relative;

      .icon {
        position: relative;
        top: 6px;
      }

      .action-container {
        position: absolute;
        left: 15px;
        bottom: 15px;
        max-width: 100%;
      }

      .action {
        margin-right: 5px;
      }
    }

    .title-container {
      @include container();
      border-bottom: 1px solid var(--gray-color-3);

      .title {
        font-size: 24px;
        padding-bottom: 15px;
        color: var(--white-color);
      }

      .color {
        display: inline-block;
        margin-right: 8px;
        width: 16px;
        height: 16px;
        background: var(--gray-color-3);
        border-radius: 100%;
        position: relative;
        top: 1px
      }

      .subtitle {
        line-height: 10px;
      }
    }

    .stat-container {
      @include container();

      .stat {
        display: flex;
        justify-content: space-between;

        .item {
          text-align: left;

          .title {
            max-width: 72px;
            height: 29px;
            font-size: 10px;
            color: #FFFFFF;
            opacity: 0.3;
            padding-bottom: 5px;
          }

          .subtitle {
            font-size: 24px;
            color: #FFFFFF;
          }
        }

        .item:last-child {
          .title {
            line-height: 24px;
          }
        }
      }
    }
  }
}