.staking {
  color: var(--white-color);
}

.stakingTitle {
  font: var(--font-title-2);
  margin-bottom: 14px;
  @media screen and (max-width: 1023px) {
    max-width: 300px;
  }
}

.stakingInfo {
  font: var(--font-text-3);

  @media screen and (max-width: 1023px) {
    max-width: 300px;
  }
}

.stakingStats {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px 24px;
  margin-bottom: 14px;

  @media screen and (max-width: 767px) {
    grid-template-columns: unset;
    display: flex;
    flex-direction: column;
  }
}

.stakingStatsTitle {
  font: var(--font-text-5);
  text-transform: uppercase;
}
.stakingStatsTitleLiquididty {
  @media screen and (max-width: 767px) {
    order: 1;
  }
}
.stakingStatsTitleAPR {
  @media screen and (max-width: 767px) {
    order: 3;
  }
}

.stakingStatsValue {
  font: var(--font-text-3);
}
.stakingStatsValueLiquididty {
  @media screen and (max-width: 767px) {
    order: 2;
    margin-bottom: 10px;
  }
}
.stakingStatsValueAPR {
  @media screen and (max-width: 767px) {
    order: 4;
  }
}

.stakingStatsValueGreen {
  color: #83d6a4;
}
.stakingStatsValueRed {
  color: var(--red-color);
}
