.staking {
  color: var(--white-color);
}

.stakingTitle {
  font: var(--font-title-2);
  margin-bottom: 14px;
}

.stakingInfo {
  font: var(--font-text-3);
}

.stakingStats {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px 24px;
  margin-bottom: 14px;
}

.stakingStatsTitle {
  font: var(--font-text-5);
  text-transform: uppercase;
}

.stakingStatsValue {
  font: var(--font-text-3);
}
.stakingStatsValueGreen {
  color: #83d6a4;
}
.stakingStatsValueRed {
  color: var(--red-color);
}
