.card {
  background: var(--primary-background);
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardWinner {
  border-color: #ffce1f;
}

.cardWrapper {
  border: 1px solid var(--primary-border);
}

.winner {
  border: 1px solid #ffce1f;
  display: flex;
  align-items: center;
}

.winner > .value {
  padding: 0 7px;
}

.winnerBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffce1f;
  font: var(--font-text-5);
  height: 25px;
  width: 50px;
}

.nftInfo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
}

.nftName {
  font: var(--font-subtitle-2);
}

.nftImage {
  height: 56px;
  width: 56px;
}

.subtitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);

  svg {
    width: 11px;
    height: 10px;
  }
}

.opacity {
  opacity: 0.5;
}

.statsValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.totalValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.countdown {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);
  font-size: 14px;
}
