html body .input {
  height: 31px;
  padding: 0;

  &,
  &:not(.ant-input-affix-wrapper-disabled):hover,
  &:hover {
    border: 0;
    border-bottom: 1px solid var(--black-color);
  }

  &:global(.ant-input-affix-wrapper-focused:hover),
  &:global(.ant-input-affix-wrapper-focused) {
    border-bottom: 1px solid var(--black-color);
    :local(.search) {
      svg {
        color: var(--gray-color-2);
      }
    }
  }

  &:global(.ant-input-affix-wrapper-lg) {
    font-size: 32px;
    padding-bottom: 8px;
    :local(.search) {
      svg {
        font-size: 32px;
        margin-right: 10px;
      }
    }
  }
  input {
    color: var(--gray-color-2);
    font-size: 20px;
    font-family: var(--font-family-chakra);

    &::placeholder {
      color: var(--gray-color-2);
    }
  }
}

.search {
  svg {
    font-size: 15px;
    transition: color var(--transition-1);
    color: var(--gray-color-2);
    margin-right: 5px;
  }
}
