.noSuitableMessageWrapper {
  color: var(--secondary-border);
}

.noSuitableMessage {
  font: var(--font-text-4);
  margin-bottom: 6px;
}

.acceptedCollectionsLink {
  svg path {
    fill: var(--blue-color);
  }
}
