.chartBarWrapper {
  max-width: 335px;
  min-height: 180px;
  width: 100%;
}

.depositContainer {
  display: flex;
  flex-direction: column;
}
.depositContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.depositInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navigationButton {
  margin-top: 16px;
  height: 48px;
  width: 100%;
}
