.card {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.button {
  height: 48px;
  width: 100%;
}
