.card {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  position: relative;
}

.badge {
  color: #fff;
  font: var(--font-text-6);
  position: absolute;
  left: 24px;
  top: -9px;
  padding: 2px 4px;
  height: 18px;
}

.button {
  height: 48px;
  width: 100%;
}
