.container {
  display: flex;
  pointer-events: none;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1023px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.hidden {
  display: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-gray-7);
  width: 100%;
  pointer-events: auto;
  min-height: 108px;
  flex-wrap: wrap;
  position: relative;
}

.aprContainer {
  position: absolute;
  height: 56px;
  width: 254px;
  bottom: -56px;
  left: calc(50% - 127px);
  background-color: var(--color-gray-7);
  clip-path: polygon(0% 0%, 12% 100%, 88% 100%, 100% 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aprContainerTitle {
  text-transform: uppercase;
  color: var(--color-gray-4);
  font: var(--font-text-5);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.aprContainerQuestion {
  margin-left: 5px;
  svg {
    color: #5d5fef;
    width: 18px;
    height: 18px;
  }
}

.aprValues {
  font: var(--font-text-3);
  color: var(--color-gray-4);
}

.aprValueRed {
  color: #ff6666;
}

.aprValueGreen {
  color: #83d6a4;
}

.poolsNavigation {
  @media screen and (max-width: 767px) {
    padding: 20px 15px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding: 20px 20px;
    width: 100%;
  }

  @media screen and (max-width: 1023px) {
    order: -1;
    width: 100%;
  }
}

.headerSell {
  display: flex;

  @media screen and (max-width: 1023px) {
    padding: 0 20px 20px;
  }
}

.sellInfoWrapper {
  background: red;
  display: flex;
  align-items: center;
  border: var(--border-gray-1);
  background-color: var(--black-color);
  height: 43px;
  padding: 0 10px;
  margin-top: 20px;
  font: var(--font-text-3);
  line-height: 1;
  position: relative;

  @media screen and (max-width: 1023px) {
    max-width: 320px;
    margin-top: unset;
  }

  @media screen and (max-width: 767px) {
    font-size: 15px;
  }
}

.poolBgImage {
  border: var(--border-gray-1);
  height: 106px;
  width: 106px;
  object-fit: cover;
  display: block;
  margin-right: 20px;

  @media screen and (max-width: 1023px) {
    width: 43px;
    height: 43px;
  }
}

.separator {
  height: 23px;
  width: 1px;
  background-color: var(--color-gray-4);
  margin-left: 15px;
  margin-right: 15px;
}

.sellInfoItem {
  display: flex;
  align-items: center;

  svg,
  .infoImage {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.infoImage {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-gray-1);
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  display: block;
}

.marketNavigation {
  @media screen and (max-width: 1100px) {
    margin-bottom: 30px;
    width: 100%;
    order: -1;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
