.tab {
  flex-wrap: nowrap;
  background: transparent;

  button {
    border: 0;
    border-bottom: 1px solid var(--primary-border);
  }

  button:first-child {
    border-right: 1px solid var(--primary-border);
  }
}

.container {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
}

.tabContent {
  background: var(--primary-background);
  padding: 24px;
  min-height: 600px;

  @media (max-width: 650px) {
    padding: 16px;
  }
}
