.searchInput {
  max-width: 173px;
  margin-right: 20px;
  width: unset;
}

.collectionInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collectionName {
  color: var(--primary-text);
  font: var(--font-text-6);
  min-width: 116px;
  max-width: 116px;
}
.collectionImage,
.selectedCollectionOverlay {
  width: 26px;
  height: 26px;
}
.selectedCollectionOverlay {
  background-color: var(--light-green-color);
  border: 1px solid var(--button-text);
  position: relative;

  &:after {
    content: '';
    display: block;
    background: var(--button-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.2px;
    width: 11px;
  }
}

.repayButton {
  height: 26px;
  width: 60px;
}
