@import '../../../../scss/abstracts/mixins';

.wrapper {
  display: flex;
}
.header {
  width: 100%;
  @include flex(row, nowrap, center, center);
  margin-bottom: 48px;

  @media screen and (max-width: 1023px) {
    margin-top: 30px;
    flex-direction: column;
  }
}

.title {
  margin-bottom: 8px;
  font: var(--font-title-2);
  text-align: center;
}

.subtitle {
  font: var(--font-text-1);
  text-align: center;
}

.btnBack {
  @include flex(row, nowrap, center, center);

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;
  cursor: pointer;

  height: 40px;
  width: 40px;

  svg {
    path {
      fill: var(--secondary-border);
    }
  }

  &:hover {
    border-color: var(--secondary-border);
  }

  @media screen and (max-width: 768px) {
    height: 32px;
    width: 32px;
    svg {
      height: 19px;
      width: 16px;
    }
  }

  @media screen and (max-width: 550px) {
    height: 28px;
    width: 28px;
    svg {
      height: 14px;
      width: 17px;
    }
  }
}
