@import '../../../../scss/abstracts/mixins';

.headerActive {
  padding-right: 302px;

  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font: var(--font-text-1);
  text-align: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  min-width: 160px;
}

.label {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.connectBtn {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
}

.nftsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  gap: 24px;
  align-items: stretch;
  padding-right: 334px;

  @media (max-width: 767px) {
    gap: 16px;
    padding-right: 0;
    grid-template-columns: repeat(auto-fill, minmax(163px, 2fr));
    padding-bottom: 100px;
  }
}

.nftListActive {
  padding-right: 0;
  padding-bottom: 0;
}

.noSuiableMessageWrapper {
  color: var(--secondary-border);
}

.noSuiableMessage {
  font: var(--font-text-4);
  margin-bottom: 6px;
}

.acceptedCollectionsLink {
  svg path {
    fill: var(--blue-color);
  }
}

.loader {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  font: var(--font-text-2);

  &::after {
    animation: dots 2s linear infinite;
    width: 16px;
    content: '...';
  }
}
