.buyoutControls {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.buyoutTitle {
  font: var(--font-btn-mid);
  margin-bottom: 6px;
  font-weight: 700;
  min-height: 30px;
}