.rowCenter {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (max-width: 500px) {
    gap: 4px;
  }
}

.row {
  @extend .rowCenter;
  gap: 4px;
  justify-content: flex-end;
}

.rowLeft {
  justify-content: flex-start !important;
}

.title {
  color: var(--secondary-text);
  font: var(--font-text-7);
  text-transform: uppercase;
}

.nftName {
  color: var(--primary-text);
  font: var(--font-text-6);
  width: 124px;
  
  @media (max-width: 960px) {
    width: 100px;
  }
}

.nftImage {
  width: 28px;
  height: 28px;
}

.questionIcon {
  svg {
    fill: var(--blue-color);
    width: 18px;
    height: 18px;
  }
}

.value,
.smallValue {
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: var(--font-text-8);
  gap: 4px;
  font-size: 14px;
  white-space: nowrap;
}
.smallValue {
  font-size: 12px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.infoValueSpan {
  color: var(--light-green-hover);
  font: var(--font-text-9);
  line-height: 16px;
  vertical-align: sub;

  &.negative {
    color: var(--red-error-color);
  }
}

.highestLtvColor {
  color: #b39016;
}

.upToLtvColor {
  color: #6db315;
}

.searchInput {
  input {
    font: var(--font-text-4) !important;
    font-size: 14px !important;
  }

  height: 23px !important;
  width: 180px;

  @media (max-width: 960px) {
    width: 150px;
    padding-right: 0;
  }
}

.iconWrapper {
  display: flex;
}
.sortIcon {
  display: flex;
}
.starIcon {
  min-width: 16px;
  min-height: 16px;

  &:hover {
    path {
      fill: #ffce1f;
      transition: var(--transition-1);
    }
  }
}
