.wrapper {
  background: var(--primary-background);
  border: 1px solid var(--secondary-border);
  backdrop-filter: blur(20px);

  z-index: 1;
  padding: 32px;
  width: 512px;

  @media screen and (max-width: 767px) {
    padding: 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: flex-end;
  }
}

.title {
  color: var(--secondary-text);
  font: var(--font-text-2);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.closeModalIcon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--primary-border);
  background: var(--primary-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -1px;
  cursor: pointer;
  transition: border-color var(--transition-1);

  @media screen and (max-width: 550px) {
    font-size: 18px;
    height: 35px;
    width: 35px;
  }
}

.closeIcon {
  width: 12px;

  stroke: var(--secondary-border);

  rect {
    fill: var(--secondary-border);
  }

  @media screen and (max-width: 470px) {
    width: 15px;
  }
}
