.layout {
  @media screen and (max-width: 960px) {
    max-height: calc(100vh - var(--header-height));
  }
}

.sidebar {
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  @media screen and (max-width: 960px) {
    overflow: unset;
    overflow-y: scroll;
  }
}

.borrowForm {
  display: block;
}

.borrowFormDetails {
  padding: 0 32px;
  flex-grow: 1;
  margin-bottom: 24px;

  @media screen and (max-width: 960px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.borrowFormSummary {
  margin: 0 32px;
  padding: 16px;
  flex-grow: 1;
  border: 1px dashed var(--gray-color-2);

  @media screen and (max-width: 960px) {
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 24px 20px;
  }

  @media screen and (max-width: 480px) {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 24px 20px;
  }
}

.borrowFormSummaryTitle {
  color: var(--primary-text);
  font: var(--font-text-2);
  font-size: 20px;
  text-align: center;
}

.borrowFormDetailsTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  margin: 45px 0 8px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 960px) {
    margin: 28px 0 0;
  }
}

.checkboxWrapper {
  padding: 24px 32px 0;

  @media screen and (max-width: 960px) {
    padding: 16px;
    padding-top: 0;
  }
}

.borrowFormSubmitBtnWrapper {
  width: 100%;
  padding: 24px 32px 32px;

  @media screen and (max-width: 960px) {
    padding: 16px;
    padding-top: 0;
  }
}

.borrowFormSubmitBtn {
  padding: 14px 21px;
  width: 100%;
  justify-content: center;
  font: var(--font-btn-small);
  max-height: 60px;

  @media screen and (max-width: 960px) {
    font-size: 14px;
    height: 40px;
  }
}

.borrowFormLtvSliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 16px 0;

  @media screen and (max-width: 960px) {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

.borrowFormLtvSliderLabel {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-align: center;
  text-transform: uppercase;
}

.borrowValue {
  color: var(--secondary-border);
}

.borrowFormLtvSlider {
  padding: 0 5px;
  :global {
    .ant-slider-mark-text:first-child {
      left: 25px !important;
    }
    .ant-slider-mark-text:last-child {
      left: 90.5% !important;
      width: 100px;
    }
    .ant-slider-mark-text-active {
      color: var(--secondary-text) !important;
    }
  }
}

.borrowFormSelect {
  :global {
    .custom-select__control {
      background-color: transparent;
    }
  }
}

.loanDetails {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
}

.loanDetailsValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: var(--secondary-border);
  font: var(--font-text-5);
  text-transform: uppercase;

  span:first-child {
    color: var(--secondary-text);
    font: var(--font-text-6);
    font-size: 12px;
    white-space: nowrap;
    text-align: left;

    @media (max-width: 960px) {
      font-size: 10px;
    }
  }

  span:last-child {
    color: var(--secondary-border);
    font: var(--font-text-8);
    text-align: right;
    white-space: normal;
  }

  &:last-of-type {
    align-items: flex-end;
  }
}

.summaryDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: 960px) {
    gap: 7px;
    overflow: auto;
  }
}

.summaryDetailsValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;

  color: var(--secondary-border);
  font: var(--font-text-5);
  text-transform: uppercase;

  span:first-child {
    display: flex;
    color: var(--secondary-text);
    font: var(--font-text-6);
    font-size: 12px;
    max-width: 100px;
    white-space: nowrap;

    @media (max-width: 960px) {
      font-size: 10px;
      max-width: unset;
    }
  }

  span:last-child {
    color: var(--secondary-border);
    font: var(--font-text-8);
    text-align: end;
    white-space: normal;
  }
}

.tooltipIcon {
  margin-left: 5px;

  svg {
    fill: var(--blue-color);
    width: 14px;
    height: 14px;
  }
}
