.card {
  background: var(--primary-background);
  border: 3px solid transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardWinner {
  border-color: #ffce1f;
}

.cardWrapper {
  border: 1px solid var(--primary-border);
}

.winner {
  border: 1px solid #ffce1f;
  display: flex;
  align-items: center;
}

.winner > .value {
  padding: 0 7px;
}

.winnerBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffce1f;
  font: var(--font-text-5);
  height: 25px;
  width: 50px;
}

.value {
  display: flex;
  align-items: center;
  gap: 3px;
  font: var(--font-text-8);
}

.opacity {
  opacity: 0.5;
}

.statsValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & > div {
    width: 100%;
  }
}
