.columnWrapper {
  color: var(--gray-color-2);
  font: var(--font-text-6);

  padding: 8px 0;
  display: flex;
  justify-content: space-between;

  width: 100%;

  @media screen and (max-width: 960px) {
    display: none;

    &.create {
      display: flex;
    }

    &.active {
      display: flex;
    }
  }
}

.col {
  position: relative;

  display: flex;
  align-items: center;
}

.colName {
  font: var(--font-text-7);
  text-transform: uppercase;
}
