.searchInput {
  input {
    font: var(--font-text-4) !important;
    font-size: 14px !important;
  }
  height: 23px !important;
  width: 143px;
}

.rowCenter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerTitleRow {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.rowFixedRight {
  @extend .rowCenter;
  justify-content: flex-end;
}

.collectionInfo {
  display: flex;
  align-items: center;
  @extend .rowCenter;
  height: 38px;
}
.collectionName {
  color: var(--primary-text);
  font: var(--font-text-6);
  width: 141px;
  @media (max-width: 960px) {
    width: 104px;
  }
}

.collectionImageWrapper {
  position: relative;
}
.collectionImage,
.selectedCollectionOverlay,
.collectionImageWrapper {
  width: 26px;
  height: 26px;
}
.selectedCollectionOverlay {
  background-color: var(--light-green-color);
  border: 1px solid var(--button-text);
  position: absolute;
  top: 0;
  left: 0;

  &:after {
    content: '';
    display: block;
    background: var(--button-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.2px;
    width: 11px;
  }
}

.nftCollectionNames {
  display: flex;
  flex-direction: column;
}
.nftNumber {
  color: var(--primary-text);
  font: var(--font-text-9);
  font-weight: 400;
}

.buttonWrapper {
  display: flex;
  gap: 8px;
  width: 100%;
}
.buttonWrapper.cardView button {
  flex-grow: 1;
}

.repayButton {
  display: flex;
  height: 26px;
  width: 100%;
}

.moreActionsButton {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 14px;
  height: 32px;
  width: 65px;
}
.moreActionsButton.cardView {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 58px;

  @media screen and (max-width: 960px) {
    font-size: 12px;
  }
}

.filters {
  position: relative;
}
.filters.cardView {
  position: unset;
}
.filtersDropdown {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 45px;
  right: 0;
  width: 218px;

  @media screen and (max-width: 960px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    width: 100% !important;
  }
}
.filtersDropdown.cardView {
  top: 55px;
  right: 16px;

  @media screen and (max-width: 960px) {
    top: unset;
  }
}

.liquidateButtonWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.stakingButtonWrapper button,
.liquidateButton {
  font: var(--font-btn-middle) !important;
  padding: 0;
  height: 26px;
  width: 100%;
}
.stakingContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 960px) {
    width: 100%;
  }
}
.stakingTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-align: left;
  text-transform: uppercase;
  line-height: 20px;

  @media screen and (max-width: 960px) {
    text-align: center;
  }
}
.stakingButtonWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.stakingButtonWrapper button {
  width: 100%;
}

.value {
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: var(--font-text-4);
  font-size: 14px;
  gap: 4px;
  position: relative;
}

.horizontalDots {
  path {
    fill: var(--primary-text);
  }
}

.checkbox {
  height: 18px;
  padding-left: 18px;
}
.checkboxInnerContent::after,
.checkboxHeaderInnerContent:after {
  border-width: 0.75px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.75px;
  width: 6.75px;
}
.checkboxHeaderInnerContent {
  top: -4px;
}

.badge {
  background-color: var(--secondary-background);
  color: var(--secondary-border);
  font: var(--font-text-7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 103px;
}

.badgeOnGrace {
  color: var(--orange-color);
  font: var(--font-text-9);
  font-weight: 400;
  position: absolute;
  top: -13px;
}

.graced {
  border: 1px solid var(--orange-color);
  box-shadow: inset 0px 0px 18px var(--orange-color);
}

.headerExtendButton,
.headerRepayButton {
  width: 130px;
  height: 26px;
}
