.header {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @media screen and (max-width: 1023px) {
    margin-top: 30px;
    flex-direction: column;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font: var(--font-text-1);
  margin-bottom: 18px;
  text-align: center;
}

.sortName {
  font: var(--font-text-8);
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.searchInput {
  max-width: 173px;
  margin-right: 20px;
  width: unset;

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    margin-top: 2px;
    margin-left: 3px;

    path {
      stroke: var(--white-color);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  min-width: 160px;
}

.sortingWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 36.5px;
  row-gap: 12px;

  @media screen and (max-width: 767px) {
    flex-flow: row nowrap;
    gap: 16px;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 0px;
    }
  }
}

.sorting {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.label {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.filtersWrapper {
  position: relative;

  @media screen and (max-width: 767px) {
    position: initial;
  }
}

.filtersDropdown {
  position: absolute;
  top: 45px;
  right: 0;
  width: 236px;

  @media screen and (max-width: 767px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: unset;
    height: 200px;
    width: 100% !important;
  }
}
