.walletInfoBtnWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 0 10px;
}

.walletInfoBtn {
  width: 50%;
}
.walletInfoBtnPressed {
  background-color: var(--accent-color-3);
  border-color: var(--accent-color-3);
}
