.collectionInfos {
  display: flex;
  align-items: center;
  gap: 16px;

  @media (max-width: 650px) {
    gap: 8px;
  }
}
.collectionImage {
  height: 72px;
  width: 72px;

  @media (max-width: 650px) {
    height: 56px;
    width: 56px;
  }
}

.collectionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.collectionName {
  font: var(--font-text-6);
  font-size: 14px;
}

.collectionStats {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    min-width: 72px;
  }

  @media (max-width: 650px) {
    & > div {
      min-width: 60px;
    }
  }
}
