.container {
  padding-top: 64px;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  @media screen and (max-width: 960px) {
    margin-bottom: 32px;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
  text-align: center;
}

.subtitle {
  font: var(--font-text-1);
  text-align: center;
}
