.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1200px) {
    gap: 16px;
    flex-direction: row;
  }

  .ownerTwitter {
    margin-left: 16px;
    opacity: 1;
    transition: opacity var(--transition-1);

    &:hover {
      opacity: 0.75;
    }
  }

  .twitterIcon {
    margin-top: 4px;
  }

  .avatar {
    width: 72px;
    height: 72px;
    background: var(--gray-color-3) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
  }

  .editAvatarIcon {
    cursor: pointer;
    position: absolute;
    bottom: -4px;
    right: 0;
  }

  .ownerAddress {
    font: var(--font-text-2);
    margin-top: 16px;

    @media screen and (max-width: 1200px) {
      margin-top: 0;
    }

    @media screen and (max-width: 1023px) {
      font-size: 20px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
}

.wrapper {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  padding: 32px;
  min-width: 303px;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    height: 100%;
  }
}

.title {
  font: var(--font-subtitle);
  margin-bottom: 32px;
}

.ownerInfo {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 16px;
  font: var(--font-text-2);
  text-align: center;

  @media screen and (max-width: 1200px) {
    text-align: left;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 1200px) {
    align-items: flex-start;
  }
}

.discordButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-top: 32px;
  width: 100%;
  height: 48px;
  color: var(--connect-btn-text);
  background-color: var(--light-green-color-2);
  border: 1px solid var(--light-green-color);
  font: var(--font-body-small);
  cursor: pointer;
  transition: background-color var(--transition-1), color var(--transition-1);

  &:hover {
    background-color: var(--light-green-color-1);
    color: var(--connect-btn-text);
  }
}

.logo {
  margin-top: -2px;
  width: 24px;
  height: 24px;
  fill: var(--connect-btn-text);
}
