@import '@frakt/scss/abstracts/mixins';

.container {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: var(--header-height);
  background-color: var(--primary-background);
  border-bottom: 1px solid var(--primary-border);
  backdrop-filter: blur(12px);
  @include flex;
  padding: 8px 16px;
}

.widgetContainer {
  margin-left: auto;
  @include flex(row, nowrap, flex-start, center);
  gap: 16px;
  height: 100%;

  @media (max-width: 960px) {
    gap: 12px;
  }
}

.walletBtn {
  background: var(--light-green-color-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  font: var(--font-body-small);
  height: 48px;

  svg {
    path {
      fill: var(--black-color);
    }
  }
}

.switcherContainer {
  margin: 8px 16px 0 0;
  @media (max-width: 960px) {
    display: none;
  }
}

.logoWrapper {
  @include flex(row, nowrap, flex-start, center);
}

.logo {
  path {
    fill: var(--primary-icon);
  }

  @media (max-width: 768px) {
    width: 107px;
    height: 32px;
  }

  @media screen and (max-width: 575px) {
    width: 80px;
    height: 24px;
  }
}

.logoBasic {
  path {
    fill: var(--primary-icon);
  }
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.logoFull {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.fraktlistingBtn {
  margin-right: 16px;
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--primary-border);
  border-radius: 100px;
  background-color: unset;

  font-family: var(--font-family-chakra);
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  user-select: none;
  color: var(--black-color);

  cursor: pointer;
  transition: border var(--transition-1);

  &:hover {
    border-color: var(--secondary-border);
  }

  svg path {
    fill: var(--black-color);
  }

  @media screen and (max-width: 650px) {
    padding: 6px 8px;
    margin: 0;
    font-size: 10px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.fraktlistingStatus {
  display: flex;
  align-items: center;
  gap: 16px;
}

.statusWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  @media screen and (max-width: 650px) {
    gap: 4px;
  }
}

.rewards {
  display: flex;
  flex-direction: column;

  font-family: var(--font-family-chakra);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  color: var(--gray-color-2);

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.pointsWrapper {
  display: flex;
  flex-direction: column;
}

.points {
  font-family: var(--font-family-chakra);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--black-color);
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (max-width: 650px) {
    font-size: 10px;
    line-height: 13px;
  }
}

.loyalty {
  display: flex;
  align-items: center;
  font-family: var(--font-family-chakra);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;

  svg path {
    fill: var(--black-color);
  }

  @media screen and (max-width: 650px) {
    font-size: 10px;
    line-height: 13px;
  }
}

.place {
  font-family: var(--font-family-chakra);
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;

  text-decoration-line: underline;

  color: var(--black-color);
  transition: opacity var(--transition-1);
  cursor: pointer;

  &:hover {
    opacity: 0.6;
    transition: opacity var(--transition-1);
  }

  @media screen and (max-width: 650px) {
    font-size: 24px;
  }
}

.green {
  color: #7dcc19;

  svg path {
    fill: #7dcc19;
  }
}
