.orderBook {
  position: fixed;
  top: var(--header-height);
  right: 0px;
  z-index: 3;

  padding: 32px;
  width: 344px;
  height: calc(100% - var(--header-height));

  display: flex;
  flex-direction: column;
  gap: 8px;

  border-left: 1px solid var(--primary-border);
  background-color: var(--primary-background);

  @media screen and (max-width: 768px) {
    top: calc(100% - 145px);
    left: 0;
    right: 0;

    gap: 24px;
    padding: 32px 43px 24px;
    width: 100%;
    height: auto;

    border-top: 1px solid var(--primary-border);
    border-left: none;
    box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.25);
    transition: top 0.2s linear;

    &.create {
      gap: 8px;
      top: calc(100% - 165px);
    }

    &.active {
      gap: 8px;

      top: calc(var(--header-height) + 32px);
    }
  }

  @media screen and (max-width: 550px) {
    top: calc(100% - 128px);
    padding: 30px 35px 16px;

    gap: 16px;

    &.create {
      gap: 8px;
      top: calc(100% - 154px);
    }
    &.active {
      top: calc(var(--header-height) + 42px);
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media screen and (max-width: 768px) {
    &.create {
      gap: 16px;
    }
  }
}

.title {
  font: var(--font-text-2);
  text-align: center;
}

.toggle {
  display: flex;
  justify-content: center;
  font: var(--font-text-8);

  @media screen and (max-width: 768px) {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.columnWrapper {
  padding: 3px 8px;

  width: 100%;
  display: flex;
  justify-content: space-between;

  font: var(--font-text-6);
  color: var(--gray-color-2);

  @media screen and (max-width: 768px) {
    display: none;

    &.create {
      display: flex;
    }

    &.active {
      display: flex;
    }
  }
}

.col {
  position: relative;

  display: flex;
  align-items: center;
  padding-right: 16px;
  gap: 2px;

  // &:last-child {
  //   cursor: pointer;
  //   &::after {
  //     transition: transform 0.1s ease-in;
  //     content: '';
  //     margin-left: 4px;
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     border-width: 9.3px 4.53px 0 4.53px;
  //     border-color: var(--gray-color-2) transparent transparent transparent;
  //   }
  // }
  // transition: transform 0.1s ease-in;

  // &.sort {
  //   &:last-child {
  //     &::after {
  //       transform: rotateX(180deg);
  //     }
  //   }
  // }
}

.colName {
  font: var(--font-text-7);
  text-transform: uppercase;
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100% - var(--header-height) - 60px);

  &.visible {
    height: 100%;
  }

  &.create {
    height: calc(100% - var(--header-height) - 66px);
  }

  @media screen and (max-width: 768px) {
    &.active {
      height: calc(100vh - var(--header-height) - 206px);
    }

    &.visible.active {
      height: calc(100vh - var(--header-height) - 116px);
    }

    &.create.active {
      height: calc(100vh - var(--header-height) - 190px);
    }
  }

  @media screen and (max-width: 550px) {
    gap: 16px;
  }
}

.loader {
  @media screen and (max-width: 768px) {
    display: none;
    &.create {
      display: block;
    }
    &.active {
      display: block;
    }
  }
}

.list {
  margin-top: 8px;
  margin: 0 -52px;
  padding: 0 52px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  height: calc(100% - var(--header-height));

  &.create {
    height: auto;
  }

  @media screen and (max-width: 768px) {
    display: none;

    margin: 0 -42px;
    padding: 0 42px;

    &.create {
      display: flex;
      height: 47px;
      overflow: hidden;
    }

    &.active {
      display: flex;
      height: calc(100% - var(--header-height) - 16px);
      overflow-y: scroll;
    }

    &.create.active {
      height: calc(100% - var(--header-height));
    }
  }

  @media screen and (max-width: 550px) {
    display: none;
    &.create {
      display: flex;
    }
  }
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  height: calc(100% - var(--header-height));

  &.create {
    height: auto;
  }

  @media screen and (max-width: 768px) {
    display: none;

    &.create {
      display: flex;
      height: 47px;
    }

    &.active {
      display: flex;
      height: calc(100% - var(--header-height) - 64px);
    }

    &.create.active {
      height: calc(100% - var(--header-height));
    }
  }

  @media screen and (max-width: 550px) {
    display: none;
    &.create {
      display: flex;
    }
  }
}

.noDataTitle {
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.noDataSubTitle {
  margin-top: 8px;
  font: var(--font-text-4);
  text-align: center;
}

.btn {
  padding: 14px;
  width: 100%;
}

.roundBtn {
  display: none;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;

  svg {
    & path {
      fill: var(--black-color);
    }
  }
}

.btnChevron {
  transform: rotate(180deg);
  &.active {
    transform: rotate(0deg);
  }

  @media screen and (max-width: 768px) {
    display: flex;
    position: absolute;
    top: -16px;
    left: calc(50% - 16px);
  }
}

.btnTrash {
  display: flex;
  flex-shrink: 0;

  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);

  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 28px;
    height: 28px;
    svg {
      width: 16.8px;
      height: 16.8px;
    }
  }
}
