.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.title {
  font: var(--font-subtitle);

  @media (max-width: 1140px) {
    font-size: 24px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: 960px) {
    gap: 16px;
  }
}

.loansInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-top: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loansList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.loanInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.loanName {
  font: var(--font-text-6);
  text-transform: uppercase;
}
.loanValue {
  font: var(--font-text-8);
}

.dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.button {
  margin-top: 16px;
  height: 48px;
  width: 100%;
}
