.wrapper {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.gridContainer div:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1;
}

.flexContainer {
  display: flex;
  width: 100%;
  gap: 32px;

  & > div {
    overflow: auto;
    max-height: 683px;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
