.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media screen and (max-width: 1023px) {
    margin-top: 30px;
    flex-direction: column;
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 8px;
}

.subtitle {
  font: var(--font-text-2);
  margin-bottom: 18px;
}

.sortWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;

  @media screen and (max-width: 1023px) {
    margin-bottom: 0;
  }
}

.searchInput {
  max-width: 330px;
  margin-right: 20px;
  width: unset;

  @media screen and (max-width: 468px) {
    margin-bottom: 20px;
  }
}

.filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px 30px;

  @media screen and (max-width: 655px) {
    margin-top: 25px;
  }
}

.searchIcon {
  margin-right: 5px;

  svg {
    width: 14px;
    color: var(--color-gray-03);
  }
}

.sortingSelect {
  width: unset;
  margin-left: 8px;

  span {
    display: flex;
    color: var(--white-color);
  }
}

.sortingSelectContainer {
  svg {
    path {
      stroke: var(--accent-color-1) !important;
    }
  }

  .sortName {
    color: var(--accent-color-1);
  }
}

.sortWrapper {
  flex-shrink: 0;

  .arrowDown,
  .arrowUp {
    margin-top: 2px;
    margin-left: 3px;

    path {
      stroke: var(--white-color);
    }
  }

  .arrowDown {
    transform: rotate(180deg);
  }
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
