@import '../../scss/abstracts/mixins';

.container {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 64px;
  background-color: var(--primary-background);
  border-bottom: 1px solid var(--primary-border);
  backdrop-filter: blur(12px);
  @include flex;
  padding: 0 16px;
  @include gapX(10px);
}

.widgetContainer {
  margin-left: auto;
  min-width: 300px;
  @include flex(row-reverse, nowrap, flex-start, center);
  gap: 36px;
}

.walletBtn {
  background: var(--light-green-color-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  font: var(--font-body-small);
  height: 48px;

  svg {
    path {
      fill: var(--black-color);
    }
  }
}

.switcher {
  @media (max-width: 1023px) {
    display: none;
  }
}

.logo {
  path {
    fill: var(--primary-icon);
  }
}
