.positionRelative {
  position: relative;
}

.contentWrapper {
  padding-top: 64px;
  padding-bottom: 64px;
}

.contentReducer {
  width: 75%;

  @media screen and (max-width: 1300px){
    width: 100%;
  }
}

.title {
  font: var(--font-h4);
  margin-bottom: 12px;
}

.search {
  margin-bottom: 32px;
}

.connectBtn {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
}

.artsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: stretch;

  @media screen and (max-width: 1023px){
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px){
    grid-template-columns: repeat(1, 1fr);
  }
}
