.wrapper {
  height: 100%;
}

.badges {
  display: flex;
  align-items: flex-end;
  padding: 24px;
  gap: 10px;
  z-index: 1;
}

.badge {
  background-color: var(--light-green-color);
  color: var(--button-text);
  font: var(--font-text-5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  width: 170px;
}

.imageShadow {
  background: rgba(0, 0, 0, 0.64);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 5px;
  width: 34px;
  border-radius: 5px;
}

.badgeTitle {
  font: var(--font-text-5);
  font-family: var(--font-family-inter);
  text-transform: uppercase;
}

.root {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid var(--secondary-text);
  position: relative;
  background: var(--primary-background);
  user-select: none;
  transition: border-color var(--transition-1), opacity var(--transition-1);
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    right: -10px;
    bottom: -10px;
    border: 1px solid var(--color-gray-03);
    z-index: -1;
    transition: border-color var(--transition-1), opacity var(--transition-1);
  }

  &__image {
    position: relative;
    width: 100%;
    background-color: var(--secondary-background);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--gray-color-6);
    display: flex;
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font: var(--font-subtitle-2);
    font-size: 18px;
    flex-grow: 1;
  }

  &__checkboxWrapper {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__checkbox {
    padding: 32px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 130px;
    transition: background-color var(--transition-1);
    &::before {
      content: '+ ';
    }
  }

  &_checked {
    border: 1px solid var(--black-color);
  }
}

.ltvContent {
  display: flex;
  align-items: center;
  gap: 3px;
}

.ltvTitle {
  color: var(--secondary-text);
  font: var(--font-text-6);
  margin-top: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.ltvText {
  font: var(--font-text-8);
}

.ltvImage {
  width: 23px;
  height: 24px;
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ltvPrice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
