.row {
  display: flex;
  align-items: center;
  gap: 4px;
}

.fixedLeftRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.headerCellTitle {
  color: var(--secondary-text);
  font: var(--font-text-7);
  text-transform: uppercase;
}

.value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.questionIcon svg {
  fill: var(--blue-color);
  width: 18px;
  height: 18px;
}
