.row {
  display: flex;
  align-items: center;
  gap: 4px;
}

.fixedLeftRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.headerCellTitle {
  color: var(--secondary-text);
  font: var(--font-text-7);
  text-transform: uppercase;
}

.collectionInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collectionName {
  color: var(--primary-text);
  font: var(--font-text-6);
  min-width: 116px;
  max-width: 116px;
}
.collectionImage,
.selectedCollectionOverlay {
  width: 26px;
  height: 26px;
}
.selectedCollectionOverlay {
  background-color: var(--light-green-color);
  border: 1px solid var(--button-text);
  position: relative;

  &:after {
    content: '';
    display: block;
    background: var(--button-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1.2px;
    width: 11px;
  }
}

.value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.questionIcon svg {
  fill: var(--blue-color);
  width: 18px;
  height: 18px;
}
