.container {
  width: calc(100% - 344px);

  @media screen and (max-width: 768px) {
    margin-bottom: 145px;
    width: 100%;
  }
}

.tab {
  flex-wrap: nowrap;

  button {
    border: 0;
    border-bottom: 1px solid var(--primary-border);
  }

  button:first-child {
    border-right: 1px solid var(--primary-border);
  }
}

.content {
  border: 1px solid var(--primary-border);
}

.tabContent {
  background: var(--primary-background);

  @media (max-width: 1190px) {
    padding: 24px;
  }

  @media (max-width: 767px) {
    padding: 16px;
  }
}

.tabContentMinHeight {
  min-height: 600px;
}

.marketTableWrapper {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  display: flex;
  align-items: center;
  padding: 24px;
  margin-bottom: 16px;
}

.collapsedMarketTable {
  :global {
    .ant-table-thead > tr > th:nth-child(n + 3) {
      display: none !important;
    }
    .ant-table-tbody > tr > td:nth-child(n + 3) {
      display: none !important;
    }
  }
}


.marketTableTitle {
  color: var(--primary-text);
  font: var(--font-text-2);
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 16px;
}

.table {
  :global {
    .ant-table-tbody > tr:first-child > td {
      display: none;
    }
  }
}

.marketTable {
  :global {
    height: 236px;

    .ant-table-thead > tr > th {
      border: 0 !important;
      padding-top: 0 !important;
      width: 100%;
    }
  }
}

.bondsTableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px 8px 24px;
}
.bondsTable {
  :global {
    .ant-table-tbody > tr > td:last-child {
      width: 127px !important;
    }
  }
}

.emptyList {
  padding: 120px 0 160px !important;
}

.noDataTableMessage {
  :global {
    display: none;
  }
}

.haderTitleCell {
  opacity: 1 !important;

  @media screen and (max-width: 1190px) {
    opacity: 0 !important;
  }
}
