.bond {
  padding: 24px;
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
}

.bondName {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  max-width: 48px;
  margin-right: 16px;
}

.title {
  font: var(--font-h6);
  font-size: 18px !important;
}

.bondDesc {
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoName {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.infoValue {
  display: flex;
  align-items: center;
  font: var(--font-text-8);
  margin-top: 4px;
  font-size: 14px;
  text-transform: uppercase;
}

.infoValueLP {
  display: flex;
  align-items: center;
  margin-top: 4px;

  font: var(--font-text-8);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--light-green-color);

  &.negative {
    color: var(--red-error-color);
  }
}

.questionIcon {
  svg {
    fill: var(--blue-color);
    width: 18px;
    height: 18px;
  }
}

.btnWrapper {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.btn {
  width: 100%;
  padding: 14px 0px;
}

.btnExit {
  border-color: var(--red-color);
  background: var(--light-red-color);
  color: var(--red-color-2);

  &:hover {
    background: var(--light-red-color-hover);
  }
}
