.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font: var(--font-h4);
  margin-bottom: 20px;
}

.subtitle {
  color: var(--color-gray-4);
  font: var(--font-text-5);
  margin-bottom: 8px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.subtitleWhite {
  color: var(--white-color);
}

.valueInfo {
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 5px 0 10px;
}

.value {
  color: var(--white-color);
  font: var(--font-text-2);
}

.totalWrapper {
  display: flex;
  gap: 1px;
  width: 100%;
}

.totalContent {
  background: linear-gradient(
    180deg,
    rgba(93, 95, 239, 0.7) 0%,
    rgba(93, 95, 239, 0) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  border-top: 2px solid var(--accent-color-1);
}

.statsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.statsInfo {
  padding: 18px;

  @media screen and (max-width: 768px) {
    padding: 8px;
  }
}

.cell_1 {
  border-bottom: 1px solid var(--accent-color-1);
  border-right: 1px solid var(--accent-color-1);
}

.cell_2 {
  border-bottom: 1px solid var(--accent-color-1);
  border-right: 1px solid var(--accent-color-1);

  @media screen and (max-width: 768px) {
    border-right: 0;
  }
}
.cell_3 {
  border-bottom: 1px solid var(--accent-color-1);

  @media screen and (max-width: 768px) {
    border-right: 1px solid var(--accent-color-1);
    grid-area: 2 / 1 / 3 / 2;
  }
}
.cell_4 {
  @media screen and (max-width: 768px) {
    border-bottom: 1px solid var(--accent-color-1);
    grid-area: 2 / 2 / 3 / 3;
  }
}
.cell_5 {
  border-right: 1px solid var(--accent-color-1);
  border-left: 1px solid var(--accent-color-1);

  @media screen and (max-width: 768px) {
    border-left: 0;
    grid-area: 3 / 1 / 4 / 2;
  }
}

.cell_6 {
  @media screen and (max-width: 768px) {
    grid-area: 3 / 2 / 4 / 3;
  }
}
