.sidebarWrapper {
  position: fixed;
  top: var(--header-height);
  right: 0;
  height: 100%;
  width: 344px;
  background-color: var(--primary-background);
  border-left: 1px solid var(--primary-border);
  z-index: 2;
  transform: translateX(calc(100% + 10px));
  padding-top: 18px;
  padding-bottom: 56px;

  &.visible {
    z-index: 5;
    transform: translateY(0);

    @media screen and (max-width: 960px) {
      max-height: calc(95vh - var(--header-height));
    }

    @media screen and (max-width: 960px) {
      &.collapsedSidebar {
        transform: translateY(calc(100% - 86px)) !important;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    transform: translateY(calc(100%));
    right: 0;

    &.visible.collapsed {
      transform: translateY(calc(100% - 90px));
      padding-top: 0;
    }
  }

  @media screen and (max-width: 960px) {
    position: fixed;
    top: initial;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    border: 0;
    border-top: 1px solid var(--secondary-border);
    padding-bottom: 0;
  }
}

.btn {
  min-width: 35px;
  min-height: 35px;
}
.btn svg path {
  fill: var(--secondary-border);
}

.dropdown {
  display: none;

  @media screen and (max-width: 960px) {
    cursor: pointer;
    display: block;
    position: fixed;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 32px;
    width: 32px;
    z-index: 10;
  }
}

.dropdownHidden {
  display: none;
}

.rotateUp {
  transform: rotate(180deg);
}
