.positionWrapper {
  position: fixed;
  top: 50px;
  width: 100%;
  left: 0;
  z-index: 99;
  transition: top .2s ease-in;
}

.headerHidden {
  top: 0;
  transition: top .2s ease-out;
}

.container {
  display: flex;
  &::before {
    display: block;
    content: '';
    width: 228px;
    flex-shrink: 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-gray-7);
  max-width: 100%;
  flex-grow: 1;
}

.randomWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.questionWrapper {
  width: 106px;
  border: var(--border-gray-1);
  overflow: hidden;
  position: relative;
  margin-right: 20px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
  }
}

.poolBgImage {
  height: 106px;
  object-fit: cover;
  display: block;
}

.questionIcon {
  position: absolute;
  left: 29px;
  top: 21px;
  z-index: 2;
}

.buyWrapper {
  display: flex;
  gap: 20px;
}

.settingsWrapper {
  display: flex;
  align-items: center;
  border: var(--border-gray-1);
  background-color: var(--black-color);
  height: 43px;
  padding: 0 12px;
  font: var(--font-text-3);
  line-height: 1;
  position: relative;
}

.separator {
  height: 23px;
  width: 1px;
  background-color: var(--color-gray-4);
  margin-left: 10px;
  margin-right: 10px;
}

.amountControls {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 5px;
}

.amountControlIcon {
  width: 22px;
  height: 22px;
  position: relative;
  background-color: var(--color-gray-4);
  cursor: pointer;
  transition: background-color .1s ease-in;

  &:hover {
    background-color: var(--color-gray-3);
  }

  &.disabled {
    background-color: var(--color-gray-7);
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    background-color: var(--white-color);
    height: 2px;
    width: 12px;
    left: 5px;
    top: 10px;
  }
}

.plusIcon {
  &::after {
    display: block;
    content: '';
    position: absolute;
    background-color: var(--white-color);
    width: 2px;
    height: 12px;
    left: 10px;
    top: 5px;
  }
}

.selectWrapper {
  position: relative;

  .dropdown {
    margin-top: 13px;
    margin-left: -33px;
    min-width: 117px !important;
    left: 0 !important;
    top: 30px !important;
    border: var(--border-gray-1);
    background-color: var(--black-color);
    padding-top: 17px;
    padding-bottom: 17px;
    position: relative;
    overflow: unset;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-left: var(--border-gray-1);
      border-top: var(--border-gray-1);
      background-color: var(--black-color);
      transform: rotate(45deg);
      position: absolute;
      right: 30%;
      top: -11px;
      z-index: 1;
    }
  }
}

.slippageWrapper {
  height: 24px;

  > svg {
    cursor: pointer;
    position: relative;
    z-index: 6;
  }
}

.slippageVisible {
  .slippageOverlay {
    display: block;
  }

  .slippageBlock {
    transform: scale(1);
  }
}

.slippageOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

.slippageBlock {
  border: var(--border-gray-1);
  background-color: var(--black-color);
  padding: 20px;
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 7px;
  z-index: 5;
  transition: transform .2s ease-in;
  transform: scale(0);


  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-left: var(--border-gray-1);
    border-top: var(--border-gray-1);
    background-color: var(--black-color);
    transform: rotate(45deg);
    position: absolute;
    left: 13px;
    top: -11px;
    z-index: 1;
  }
}

.slippageTitle {
  font: var(--font-text-3);
  margin-bottom: 10px;
}

.slippageList {
  display: flex;
  align-items: center;
  border: var(--border-gray-1);
}

.slippageItem {
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: var(--border-gray-1);
  background-color: var(--color-gray-7);
  cursor: pointer;
  transition: background-color .1s ease-in;

  &:hover {
    background-color: var(--color-gray-4);
  }

  &:last-of-type {
    border-right: none;
  }
}

.slippageInput {
  max-width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
}

.select {

  &:global {
    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      border: none;
      font-size: 18px;
      padding: 0;
    }
    &.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
      box-shadow: none;
    }
    &.ant-select-single .ant-select-selector .ant-select-selection-item,
    &.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
    }
  }
  :global {
    .ant-select-arrow {
      right: 0;
    }
  }
}

.option {
  font-size: 18px;

  &:global {
    &.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: var(--color-gray-7);
      font-weight: 400;
    }
    &.ant-select-item {
      padding: 5px 19px;
    }
  }
  :global {
    .ant-select-item-option-content {
      font-size: 18px;
      display: flex;
      align-items: center;
    }
  }
}

.tokenText {
  margin-left: 5px;
}

.tokenIcon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--color-gray-1);
}

.slippageInfo {
  font: var(--font-family-inter);
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.buyButton {
  font: var(--font-text-3);
  width: 222px;
  height: 43px;
  background-color: var(--accent-color-1);
  border: 1px solid var(--accent-color-1);
  cursor: pointer;
}

.marketNavigation {
  margin-left: auto;
}