.empty {
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}