.card {
  align-items: center;
  background: var(--color-gray-7);
  border: 1px solid var(--color-gray-4);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  @media screen and (max-width: 767px) {
    align-items: unset;
    flex-direction: column;
  }
}

.nftInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nftName {
  font: var(--font-text-2);
}

.nftImage {
  height: 56px;
  width: 56px;
}

.subtitle {
  font: var(--font-secondary);
  text-transform: uppercase;
}

.value {
  padding-top: 10px;
}

.opacity {
  color: var(--color-gray-4);
}

.statsValue {
  display: flex;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 0;

    .value {
      padding-top: 0;
    }
  }
}

.btn {
  padding: 0;
  justify-content: center;
  height: 48px;
  width: 117px;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
    width: 100%;
  }
}

.totalValue {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}
