.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font: var(--font-text-2);
  max-width: 295px;
  text-align: center;
  margin: 16px 0 24px;
}

.btn {
  width: 100%;
  height: 40px;
}
