.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 160px;
}

.cardImage {
  height: 28px;
  width: 28px;
}

.cardName {
  font: var(--font-text-6);
}
