.tab {
  flex-wrap: nowrap;
}

.tabContent {
  border: 1px solid var(--secondary-border);
  border-top: 0;
  background: var(--primary-background);
  padding: 24px;
  height: 592px;
  overflow: hidden;
}

.container {
  position: relative;
  max-height: 648px;
}
