.orderBook {
  position: fixed;
  top: var(--header-height);
  right: 0;
  z-index: 10;

  padding: 32px;
  width: 344px;
  height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;

  border-left: 1px solid var(--primary-border);
  background-color: var(--primary-background);

  @media screen and (max-width: 960px) {
    top: calc(100% - 100px);
    left: 0;
    right: 0;

    padding: 32px 43px 32px;
    width: 100%;
    height: calc(91vh - var(--header-height));

    border-top: 1px solid var(--primary-border);
    border-left: none;
    box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.25);
    transition: top 0.2s linear;

    &.selected {
      top: calc(100% - 180px);
    }

    &.create {
      top: calc(100% - 200px);
    }

    &.active {
      top: calc(var(--header-height) + 92px);
    }
  }

  @media screen and (max-width: 550px) {
    &.selected {
      top: calc(100% - 140px);
    }
    &.create {
      top: calc(100% - 170px);
    }

    &.active.selected {
      top: calc(var(--header-height) + 82px);
    }
  }

  @media screen and (max-width: 376px) {
    &.active.selected {
      top: calc(var(--header-height) + 60px);
    }
  }
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-bottom: 16px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;

    &.active {
      padding-bottom: 16px;
    }
  }

  @media screen and (max-width: 550px) {
    gap: 8px;
    padding-bottom: 8px;
  }
}

.title {
  font: var(--font-text-2);
  text-align: center;
}

.toggle {
  // width: 100%;
  display: flex;
  justify-content: center;
  font: var(--font-text-8);

  @media screen and (max-width: 960px) {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    display: none;
    width: 100%;
    justify-content: center;

    &.create {
      display: flex;
    }

    &.active {
      display: flex;
    }
  }
}

.content {
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.loader {
  @media screen and (max-width: 960px) {
    display: none;
    &.active {
      display: block;
    }
  }
}

.list {
  margin-top: 8px;
  margin: 0 -52px;
  padding: 0 52px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  height: calc(70vh - var(--header-height));

  &.create {
    height: calc(75vh - var(--header-height));
  }

  @media screen and (max-width: 960px) {
    display: none;

    margin: 0 -42px;
    padding: 0 42px;

    &.create {
      display: flex;
      height: 47px;
      overflow: hidden;
    }

    &.active {
      display: flex;
      overflow-y: scroll;
      height: calc(60vh - var(--header-height));
    }

    &.create.active {
      height: calc(70vh - var(--header-height));
    }
  }

  @media screen and (max-width: 767px) {
    height: calc(65vh - var(--header-height));

    &.create.active {
      height: calc(70vh - var(--header-height));
    }
  }

  @media screen and (max-width: 550px) {
    &.active {
      height: calc(54vh - var(--header-height));
    }

    display: none;
    &.create {
      display: flex;
    }
    &.create.active {
      height: calc(65vh - var(--header-height));
    }
  }

  @media screen and (max-width: 376px) {
    &.active {
      height: calc(50vh - var(--header-height));
    }

    &.create.active {
      height: calc(45vh - var(--header-height));
    }
  }
}

.btn {
  position: absolute;
  bottom: 0;
  z-index: 100;
  padding: 14px;
  width: 100%;

  @media screen and (max-width: 960px) {
    &.notActive {
      top: 0;
      bottom: auto;
    }
  }
}

.roundBtn {
  display: none;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;

  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 50%;

  svg {
    & path {
      fill: var(--black-color);
    }
  }
}

.btnChevron {
  transform: rotate(180deg);
  &.active {
    transform: rotate(0deg);
  }

  @media screen and (max-width: 960px) {
    display: flex;
    position: absolute;
    top: -16px;
    left: calc(50% - 16px);
  }
}

.btnTrash {
  display: flex;
  flex-shrink: 0;

  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);

  cursor: pointer;
  @media screen and (max-width: 960px) {
    width: 28px;
    height: 28px;
    svg {
      width: 16.8px;
      height: 16.8px;
    }
  }
}

.radioButton {
  label {
    display: flex !important;
    justify-content: center;
    align-items: center;

    font-size: 12px;

    height: 22px;
    width: 32px !important;
  }
}
