.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  li:last-of-type svg {
    width: 18px;
  }
}

.link {
  padding-left: 15px;
  padding-right: 15px;
  height: 43px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font: var(--font-text-3);
  color: var(--white-color);
  transition: opacity .1s ease-in;

  @media screen and (max-width: 767px){
    font-size: 14px;
    height: 38px;

    svg {
      width: 14px;
    }
  }

  &:hover {
    opacity: .5;
    color: var(--white-color);
  }
}

.activeLink {
  border-color: var(--accent-color-1);

  &:hover {
    border-color: var(--accent-color-1);
    cursor: auto;
    opacity: 1;
  }
}

.navIcon {
  margin-right: 8px;
}