.wrapper {
  display: flex;
  gap: 9px;
}

.value {
  font: var(--font-text-3);

  @media screen and (max-width: 510px) {
    font-size: 15px;
  }
}

.icon {
  margin-top: 3px;
}

.timeProgressWrapper {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-4);
  position: relative;
  margin-top: 3px;

  .timeProgress {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background-color: var(--accent-color-1);
  }
}
