.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title,
.value {
  font: var(--font-subtitle);
}

.label {
  font: var(--font-text-5);
  text-transform: uppercase;
}

.stats {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.value {
  display: flex;
  align-items: baseline;
  color: var(--secondary-text);
  font: var(--font-subtitle);

  p {
    color: var(--primary-text);
    font: var(--font-text-5);
    text-transform: uppercase;
  }
}

.button {
  height: 48px;
  width: 100%;
}
