.wrapper {
  padding: 20px;
  display: block;
  width: 100%;
}

.disconnectButton {
  margin-top: 10px;
  width: 100%;
  height: 48px;
  color: var(--white-color);
  background-color: var(--accent-color-1);
  font: var(--font-btn-small);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-1), color var(--transition-1);

  &:hover {
    background-color: var(--accent-color-3);
    color: var(--white-color);
  }
}

.discordButton {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin-top: 10px;
  width: 100%;
  height: 48px;
  color: var(--white-color);
  background-color: var(--accent-shadow-color);
  border: 1px solid var(--accent-color-1);
  font: var(--font-btn-small);
  cursor: pointer;
  transition: background-color var(--transition-1), color var(--transition-1);

  &:hover {
    background-color: var(--accent-color-3);
    color: var(--white-color);
  }
}

.logo {
  margin-top: -2px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

.table {
  margin-bottom: 12px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font: var(--font-text-3);
  border-bottom: var(--border-gray-1);
  margin-bottom: 10px;

  span {
    margin-right: auto;
  }

  svg {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.name {
  margin-right: 20px;
}

.userWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .myCollectionLink {
    color: var(--accent-color-1);
    margin-top: 3px;

    &::after {
      background-color: var(--accent-color-1);
    }

    &:hover {
      color: var(--accent-color-1);
    }

    svg path {
      fill: var(--accent-color-1);
    }
  }
}

.userInfo {
  margin-left: 10px;
}
