.header {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--primary-border);
  padding: 8px 32px;
  height: 42px;

  @media screen and (max-width: 1024px) {
    padding: 8px 24px;
  }

  @media screen and (max-width: 960px) {
    padding: 8px 16px;
  }
}

.pool {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  margin-bottom: 24px;
  width: 100%;
}

.poolCard {
  display: flex;
  align-items: center;
  padding: 32px;
  justify-content: space-between;

  @media screen and (max-width: 1380px) {
    flex-wrap: wrap;
    position: relative;
  }

  @media screen and (max-width: 960px) {
    padding: 24px;
  }
}

.tokenInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;

  @media screen and (max-width: 1380px) {
    max-width: 100%;
    align-items: center;
  }
}

.poolImage {
  position: relative;
  display: flex;
}
.poolImageWithLabel {
  &::before {
    content: attr(data-collections-amount);
    background: var(--light-green-color);
    color: var(--button-text);
    position: absolute;
    font: var(--font-text-5);
    padding: 8px 4px;
    top: -17px;
    left: 4px;
    transform: translateX(-13px);
    width: 44px;
    height: 33px;
  }
}
.image {
  width: 40px;
  height: 40px;

  @media screen and (max-width: 960px) {
    height: 38px;
    width: 38px;
  }
}

.chevronVisibleIcon {
  margin-left: 60px;
  cursor: pointer;
  fill: var(--white-color);
  width: 24px;
  height: 24px;
  transform: rotate(-90deg);

  @media screen and (max-width: 960px) {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.rotate {
  transform: rotate(0deg);
}

.title {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.value {
  font: var(--font-text-8);
  margin-top: 4px;

  @media screen and (max-width: 1380px) {
    font-size: 14px;
    text-align: right;
  }
}

.statsValue {
  display: flex;
  align-items: center;
  gap: 14px;

  @media screen and (max-width: 1380px) {
    order: 1;
    width: 100%;
    flex-direction: column;
    gap: 0;
    margin-top: 10px;

    .value {
      margin-top: 0;
    }
  }
}

.poolDetails {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-background);
  padding: 20px;
  gap: 20px;

  @media screen and (max-width: 1380px) {
    flex-wrap: wrap;
  }
}

.subtitle {
  font: var(--font-subtitle-2);
  font-size: 20px;
  max-width: 141px;
}

.totalValue {
  @media screen and (max-width: 1380px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;

  @media screen and (max-width: 1380px) {
    width: 100%;
    margin-top: 20px;
  }
}

.btn {
  padding: 0;
  height: 26px;
  width: 113px;

  @media screen and (max-width: 1380px) {
    justify-content: center;
    width: 100%;
  }

  @media screen and (max-width: 960px) {
    height: 40px;
  }
}

.questionIcon {
  svg {
    fill: var(--blue-color);
    width: 18px;
    height: 18px;
  }
}
