.noDataMessage {
  text-align: center;
  font-size: 24px;
  color: #e3e2e5;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }
}

.search {
  width: 100%;

  :global {
    .ant-input-affix-wrapper {
      width: 100%;
      border-radius: 10px;
      background: #282f37;
      border: 1px solid #3e4854;
      box-shadow: none;
      &:hover {
        border-color: #9dcaff !important;
      }
    }
    .ant-input-affix-wrapper-focused {
      border-color: #9dcaff;
    }

    .ant-input {
      color: var(--primary-white-color);
      border-radius: 0;
      font-size: 16px;
    }
  }

  svg {
    fill: var(--white-color);
  }
}

.mobileTableView {
  margin-top: 24px;
  display: none;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1380px) {
    display: flex;
  }
}

.mobileCollection {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    .mobileRowTitle {
      display: none;
    }
  }
  &:first-child {
    justify-content: flex-start;
  }
}

.mobileRowTitle {
  display: flex;
}

.prefix {
  display: none;
}
