.container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 200px;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 50px;
  }
}

.docsLink {
  color: var(--accent-color-1);
  // width: 100%;
  // justify-content: center;

  &::after {
    background-color: var(--accent-color-1);
  }

  &:hover {
    color: var(--accent-color-1);
  }

  svg {
    path {
      fill: var(--accent-color-1);
    }
  }
}

.title {
  font: var(--font-title-2);
  margin-bottom: 80px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.textParagraph {
  font: var(--font-text-2);
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
