// Reset default styles
.loansTable :global {
  .ant-table-thead > tr > th:first-child,
  .ant-table-tbody > tr > td:first-child {
    padding-left: 0;
  }
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > td:last-child {
    padding-right: 0;
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}
// Empty data styles
.loansTable :global {
  .ant-table-empty .ant-table-tbody > tr.ant-table-placeholder {
    display: block !important;
    padding: 20px 0;
  }
  .ant-empty-normal {
    display: none;
  }
}

.loansTable :global {
  padding: 0 23px;

  @media (max-width: 960px) {
    padding: 0 16px;
  }
}

.repayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loanActiveTab {
  padding-top: 16px;
}

.emptyList {
  padding: 120px 0 150px !important;
}

.card {
  cursor: pointer;
}
