.loansTable :global {
  display: block !important;
  .ant-table-thead > tr > th:first-child,
  .ant-table-tbody > tr > td:first-child {
    padding-left: 24px;
  }
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > td:last-child {
    padding-right: 24px;
  }
  ::-webkit-scrollbar {
    height: 0px;
  }
}

.loansTable :global {
  .ant-table-tbody > tr > td:last-child {
    width: 32px !important;
  }
}

.repayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
}

.loanActiveTab {
  padding-top: 16px;
}

.emptyList {
  padding: 120px 0 150px;
}
