@import '@frakt/scss/abstracts/mixins';

.root {
  width: fit-content;
  @include flex;
  cursor: pointer;
}
.rootDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slider {
  display: inline-block;
  width: 40px;
  height: 14px;
  background: green;
  position: relative;
  background: var(--secondary-background);
  border: 1px solid var(--secondary-text);
  border-radius: 10px;
  transition: background var(--transition-1);

  &::before {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    top: -6px;
    left: -1px;
    background: var(--primary-background);
    border: 1px solid var(--secondary-text);
    border-radius: 50%;
    transition: transform var(--transition-1);
  }
}

.input {
  opacity: 0;
  width: 0;
  height: 0;
}

.input:checked + .slider {
  background: var(--light-green-color);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.label {
  height: 24px;
  display: inline-block;
  margin-left: 8px;
  color: var(--secondary-border);
  font: var(--font-text-8);
  transition: opacity var(--transition-1);
  user-select: none;
  @include flex;
}
