body {
  .toggle,
  .toggle:global(.ant-switch-disabled) {
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
    :global {
      min-width: 38px;

      .ant-click-animating-node {
        display: none !important;
      }

      .ant-switch-handle {
        top: -5px;
        left: -1px;
      }
      .ant-switch-handle::before {
        width: 24px;
        height: 24px;
        background: var(--primary-background);
        border-radius: 100px;
        border: 1px solid var(--secondary-text);
      }

      height: 16px;
      background-image: unset !important;
      background-color: var(--secondary-background);
      border-radius: 10px;
      border: 1px solid var(--secondary-text);
      margin: 10px 10px 16px 0;
    }
  }

  .toggle:global.ant-switch-checked {
    background: var(--light-green-color);

    .ant-switch-handle {
      transform: translateX(24px);
      left: calc(100% - 47px) !important;
    }
  }
}

.filterToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__text {
    color: var(--secondary-border);
    font: var(--font-text-8);
    margin-bottom: 5px;
  }
}
