body {
  .toggle,
  .toggle:global(.ant-switch-disabled) {
    &:focus {
      outline: 0;
      box-shadow: unset;
    }
    :global {
      opacity: 1;
      min-width: 38px;
      .ant-click-animating-node {
        display: none;
      }

      .ant-switch-handle {
        width: 39px;
        height: 8px;
        top: -5px;
        left: -1px;
      }
      .ant-switch-handle::before {
        width: 24px;
        height: 24px;
        background: var(--primary-background);
        border-radius: 100px;
        border: 1px solid var(--secondary-text);
      }

      width: 35px;
      height: 16px;
      box-sizing: border-box;
      background-image: unset !important;
      background-color: var(--secondary-background);
      border-radius: 10px;
      border: 1px solid var(--secondary-text);
      margin: 10px 10px 16px 0;
    }
  }

  .toggle:global.ant-switch-checked {
    background: var(--light-green-color);

    .ant-switch-handle {
      transform: translateX(24px);
      left: calc(100% - 47px) !important;
    }
  }

  .toggle:global.ant-switch-checked.ant-switch-disabled {
    .ant-switch-handle::before {
      background: var(--gray-color-1);
      box-shadow: none;
    }
  }
}

.filterToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__text {
    font: var(--font-text-8);
    transition: opacity var(--transition-1);
    margin-bottom: 5px;
  }
}
