.content {
  padding-top: 64px;
  padding-bottom: 64px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;
  align-items: stretch;
}

.search {
  margin-bottom: 18px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-bottom: 35px;
}

.arrowUp, .arrowDown {
  position: relative;
  top: 2px;
  path {
    stroke: var(--white-color);
  }
}

.arrowDown {
  transform: rotate(180deg);
}

.valueContainer {
  svg {
    position: relative;
    top: 2px;
    path{
      stroke: var(--accent-color-1);
    }
  }
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
}