$table-body-height: 310px;
$table-wrapper-height: 350px;
$table-row-height: 42px;

@mixin table-column-padding($child, $left, $right) {
  .ant-table-tbody > tr > td:#{$child},
  .ant-table-thead > tr > th:#{$child} {
    padding-left: $left;
    padding-right: $right;
  }
}

@mixin table-collapsed-display($display-value) {
  .ant-table-thead > tr > th:nth-child(n + 3),
  .ant-table-tbody > tr > td:nth-child(n + 3) {
    display: #{$display-value} !important;
  }
}

.marketTable :global {
  @include table-column-padding(first-child, 24px, 0);
  @include table-column-padding(last-child, 0, 24px);

  display: block !important;
  height: $table-body-height;

  .ant-table-content {
    max-height: $table-body-height;
    overflow: auto !important;
  }

  .ant-table-thead > tr > th {
    border: 0;
    min-width: 110px;
    max-width: 110px;
  }

  .ant-table-tbody > tr > td {
    height: $table-row-height;
  }

  .ant-table-row > td {
    background: var(--table-row-bg);
  }

  ::-webkit-scrollbar {
    height: 0px;
  }

  @media (max-width: 960px) {
    @include table-column-padding(first-child, 16px, 0);
    @include table-column-padding(last-child, 0, 16px);
  }
}

.collapsedMarketTable :global {
  @include table-collapsed-display(none);
  @include table-column-padding(first-child, 8px, 0);

  .ant-table-content {
    padding-left: 24px;
  }

  @media (max-width: 1300px) {
    @include table-collapsed-display(table-cell);
  }

  @media (max-width: 960px) {
    .ant-table-content {
      padding-left: 16px;
    }
  }
}

.wrapper {
  background: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-bottom: 0;

  display: flex;
  gap: 24px;
  padding: 16px 0 0;
  min-height: $table-wrapper-height;

  @media (max-width: 1300px) {
    flex-direction: column;
    gap: 0;
  }

  @media (max-width: 960px) {
    border-width: 1px 0 1px;
  }
}

.scrollContainer {
  width: 100%;
}

.hoveredTableRow :global {
  .ant-table-row:not(:hover) {
    * > span {
      color: var(--table-row-hover-1) !important;
    }
  }

  .ant-table-row:hover > td {
    background: var(--table-row-hover) !important;
  }
}

.chartMarketTable :global {
  @media (max-width: 1300px) {
    height: unset;

    .ant-table-row {
      display: none;
    }
  }
}

.headerWrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1300px) {
    padding-right: 24px;
  }

  @media (max-width: 960px) {
    padding-right: 16px;
  }
}

.expandButton {
  height: 26px;
}
