@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

body {
  background-color: var(--secondary-background);
  background-image: url(../iconsNew/lightBg.png);
  background-size: cover;
  color: var(--secondary-border);
  font: var(--font-text-3);

  @media (max-width: 767px) {
    background-image: url(../iconsNew/tabletBg.png);
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black-color);
}

:global {
  .fraktion__layout_navigation {
    display: flex;
  }

  .fraktion__layout_container {
    position: relative;
    left: 177px;
    width: calc(100vw - 187px);

    @media (max-width: 767px) {
      left: 0;
      width: 100vw;
    }
  }

  .fraktion__notification {
    svg.anticon {
      fill: var(--primary-icon);
    }

    background: var(--primary-background) !important;
    border: 1px solid var(--gray-color-3);
    border-radius: 0 !important;

    @media (max-width: 767px) {
      border: 0;
    }
  }

  .fraktion__notification_error {
    border: 1px solid var(--red-color);

    @media (max-width: 767px) {
      border-top: 1px solid var(--red-color) !important;
    }
  }
  .fraktion__notification_success {
    border: 1px solid var(--light-green-color);

    @media (max-width: 767px) {
      border-top: 1px solid var(--light-green-color) !important;
    }
  }

  .fraktion__notification_info {
    border: 1px solid var(--blue-color);

    @media (max-width: 767px) {
      border-top: 1px solid var(--blue-color) !important;
    }
  }

  .ant-notification-notice {
    background: var(--primary-background);
    width: 400px;
    box-shadow: unset !important;

    @media (max-width: 767px) {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: unset;
      margin: 0px;
      border: 0;
    }
  }

  .ant-notification-notice-close {
    color: var(--primary-icon);
    &:hover {
      color: var(--primary-icon);
    }
  }

  .ant-notification-notice-message {
    font: var(--font-text-4);
    color: var(--secondary-border);
  }

  .fraktion__notificationLink {
    &,
    &:hover {
      color: var(--blue-color-1);
      text-decoration: underline;
    }
  }

  .rc-tooltip {
    opacity: 1 !important;
  }

  .rc-tooltip-placement-bottom .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    // border-bottom-color: var(--white-color);
    opacity: 0 !important;
  }

  .rc-tooltip-inner {
    border-radius: 0 !important;
    border: none !important;
    font-family: var(--font-family-syne) !important;
    font-size: 16px !important;
    padding: 8px !important;
  }

  .rc-tooltip.custom-animation-appear,
  .rc-tooltip.custom-animation-enter {
    opacity: 0 !important;
  }
  .rc-tooltip.custom-animation-enter,
  .rc-tooltip.custom-animation-leave {
    display: block !important;
  }
  .custom-animation-enter,
  .custom-animation-appear {
    opacity: 0 !important;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-play-state: paused;
  }
  .custom-animation-leave {
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-play-state: paused;
  }
  .custom-animation-enter.custom-animation-enter-active,
  .custom-animation-appear.custom-animation-appear-active {
    animation-name: rcToolTipZoomIn;
    animation-play-state: running;
  }
  .custom-animation-leave.custom-animation-leave-active {
    animation-name: rcToolTipZoomOut;
    animation-play-state: running;
  }
  @keyframes rcToolTipZoomIn {
    0% {
      opacity: 0 !important;
    }
    100% {
      opacity: 1 !important;
    }
  }
  @keyframes rcToolTipZoomOut {
    0% {
      opacity: 1 !important;
    }
    100% {
      opacity: 0 !important;
    }
  }
}
