@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

body {
  background: var(--black-color);
  color: var(--white-color);
  font: var(--font-text-3);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--white-color);
}

.fraktion__notification {
  svg.anticon {
    fill: var(--accent-color-1);
  }

  background: var(--black-color) !important;
  border: 1px solid var(--gray-color-3);
  border-radius: 0 !important;

  :global {
    .ant-notification-notice-message {
      color: var(--white-color);
    }
  }
}

.container,
.container_lg {
  max-width: 1320px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container_lg {
  max-width: 1430px;
}
