@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';

body {
  background: var(--black-color);
  color: var(--white-color);
  font: var(--font-text-3);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--white-color);
}

.fraktion__notification {
  svg.anticon {
    fill: var(--accent-color-1);
  }

  background: var(--black-color) !important;
  border: 1px solid var(--gray-color-3);
  border-radius: 0 !important;

  :global {
    .ant-notification-notice-message {
      color: var(--white-color);
    }
  }
}

.section {
  padding-top: 200px;

  @media screen and (max-width: 767px) {
    padding-top: 150px;
  }
}

.container {
  max-width: 1430px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sliderNavPrev,
.sliderNavNext {
  height: 56px;
  width: 56px;
  position: absolute;
  top: calc(50% - 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray-color-3);
  background-color: var(--black-color);
  z-index: 1;
  cursor: pointer;
  transition: var(--transition-1);

  &.swiper-button-disabled {
    &::after {
      color: var(--color-gray-4);
    }

    &:hover {
      background-color: var(--black-color);
      cursor: auto;
    }
  }

  &:hover {
    background-color: var(--gray-color-5);
  }

  &.swiper-button-lock {
    display: none;
  }

  &::after {
    font-size: 14px;
    font-family: swiper-icons;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }

  @media screen and (max-width: 700px) {
    width: 30px;
    height: 30px;

    &::after {
      font-size: 12px;
    }
  }
}

.sliderNavPrev {
  left: -80px;

  &::after {
    content: 'prev';
  }
}

.sliderNavNext {
  right: -80px;

  &::after {
    content: "next";
  }
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;


  &:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
    background: url("../images/noise.png");
    pointer-events: none;
    display: block;
    opacity: .7;
    animation: grain 2s steps(10) infinite;
    will-change: transform;
  }
}

@keyframes grain {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-5%, -10%)
  }
  20% {
    transform: translate(-15%, 5%)
  }
  30% {
    transform: translate(7%, -25%)
  }
  40% {
    transform: translate(21%, 25%)
  }
  50% {
    transform: translate(-25%, 10%)
  }
  60% {
    transform: translate(15%, 5%)
  }
  70% {
    transform: translateY(15%)
  }
  80% {
    transform: translate(25%, 35%)
  }
  90% {
    transform: translate(-10%, 10%)
  }
}

@keyframes grain2 {
  0%, to {
    transform: translate(0)
  }
  10% {
    transform: translate(-1%, -2%)
  }
  20% {
    transform: translate(-3%, 1%)
  }
  30% {
    transform: translate(3%, -5%)
  }
  40% {
    transform: translate(5%, 5%)
  }
  50% {
    transform: translate(-5%, 2%)
  }
  60% {
    transform: translate(3%, 1%)
  }
  70% {
    transform: translateY(5%)
  }
  80% {
    transform: translate(5%, 7%)
  }
  90% {
    transform: translate(-2%, 2%)
  }
}

.link-with-arrow {
  font: var(--font-text-3);
  display: inline-flex;
  align-items: center;
  color: var(--white-color);
  position: relative;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    left: -100%;
    height: 1px;
    background-color: var(--white-color);
    transition: left .2s ease-in;
  }

  &:hover {
    color: var(--white-color);

    &::after {
      left: 0;
    }
  }

  svg {
    margin-left: 11px;
  }
}

.common-accent-btn {
    max-width: 234px;
    padding: 0 20px;
    flex-grow: 1;
    height: 48px;
    background-color: var(--accent-color-1);
    color: var(--white-color);
    font: var(--font-text-3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-1);

    &:hover {
      background-color: var(--accent-color-2);
      color: var(--white-color);
    }
}
