@import './base/reset.scss';
@import './base/scrollBar.scss';
@import './abstracts/fonts.scss';
@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

body {
  background: var(--secondary-background);
  color: var(--primary-text);
  font: var(--font-text-3);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black-color);
}

:global {
  .fraktion__layout_navigation {
    display: flex;
  }

  .fraktion__layout_container {
    position: relative;
    left: 177px;
    width: calc(100vw - 187px);

    @media (max-width: 767px) {
      left: 0;
      width: 100vw;
    }
  }

  .closed {
    left: 66px;
    width: calc(100vw - 76px);

    @media (max-width: 767px) {
      left: 0;
      width: 100vw;
    }
  }

  .fraktion__notification {
    svg.anticon {
      fill: var(--black-color);
    }

    background: var(--white-color) !important;
    border: 1px solid var(--gray-color-3);
    border-radius: 0 !important;
  }

  .ant-notification-notice-message {
    color: var(--black-color);
  }

  .fraktion__notificationLink {
    &,
    &:hover {
      color: var(--accent-color-1);
      text-decoration: underline;
    }
  }

  .rc-tooltip {
    opacity: 1 !important;
  }

  .rc-tooltip-placement-bottom .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
  .rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
    // border-bottom-color: var(--white-color);
    opacity: 0 !important;
  }

  .rc-tooltip-inner {
    border-radius: 0 !important;
    border: none !important;
    font-family: var(--font-family-oxanium) !important;
    font-size: 16px !important;
    padding: 8px !important;
  }

  .rc-tooltip.custom-animation-appear,
  .rc-tooltip.custom-animation-enter {
    opacity: 0 !important;
  }
  .rc-tooltip.custom-animation-enter,
  .rc-tooltip.custom-animation-leave {
    display: block !important;
  }
  .custom-animation-enter,
  .custom-animation-appear {
    opacity: 0 !important;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-play-state: paused;
  }
  .custom-animation-leave {
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-play-state: paused;
  }
  .custom-animation-enter.custom-animation-enter-active,
  .custom-animation-appear.custom-animation-appear-active {
    animation-name: rcToolTipZoomIn;
    animation-play-state: running;
  }
  .custom-animation-leave.custom-animation-leave-active {
    animation-name: rcToolTipZoomOut;
    animation-play-state: running;
  }
  @keyframes rcToolTipZoomIn {
    0% {
      opacity: 0 !important;
    }
    100% {
      opacity: 1 !important;
    }
  }
  @keyframes rcToolTipZoomOut {
    0% {
      opacity: 1 !important;
    }
    100% {
      opacity: 0 !important;
    }
  }
}
