@import './abstracts/_variables.scss';

@primary-background: var(--primary-background);
@primary-border: var(--primary-border);
@tabel-row-hover: var(--gray-table-hover);

// Table styles
.ant-table {
  background: @primary-background;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.ant-table-tbody > tr > td {
  border: 0;
  padding: 8px;
  vertical-align: middle;
  transition: unset;
}

.ant-table-thead > tr > th {
  background: @primary-background;
  border-bottom: 1px solid @primary-border;
  padding: 8px;
  transition: unset;
  white-space: nowrap;
}

.activeRowClassName {
  background: rgba(245, 255, 233, 0.2);
  & > td {
    border-top: 1px solid #9cff1f !important;
    border-bottom: 1px solid #9cff1f !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  & > td:first-child {
    border-left: 1px solid #9cff1f !important;
    padding-left: 7px !important;
  }
  & > td:last-child {
    border-right: 1px solid #9cff1f !important;
    padding-right: 7px !important;
  }
}
// remove sort icon
.ant-table-column-sorter {
  display: none;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: @tabel-row-hover !important;
}

.ant-table-thead th.ant-table-column-sort {
  padding: 0;
  background: @primary-background;
}

td.ant-table-column-sort {
  background: @primary-background;
}

.ant-table-thead th.ant-table-column-has-sorters:hover {
  background: @primary-background;
}

.ant-table-thead th.ant-table-column-has-sorters {
  padding: 16px 0;
}

.ant-table-empty .ant-table-tbody > tr.ant-table-placeholder {
  display: none;
}

.ant-table-cell::before {
  display: none;
}

.ant-table-thead th.ant-table-column-sort {
  background: @primary-background;
}

.ant-table-thead th.ant-table-column-has-sorters {
  transition: unset;
}
