.sortWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortDirectionsButtons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sortButton {
  height: 36px;
  padding: 12px;
  border-color: #3e4854;
  min-width: 60px;
  width: 100%;
  padding: 6px;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.sortButton.active {
  color: var(--button-text);
  background-color: var(--light-green-color);
}
.sortButton.active svg path {
  fill: var(--button-text);
}

.arrow path,
.arrowDown path {
  fill: var(--secondary-border);
}

.arrowDown {
  transform: rotate(180deg);
}
