.wrapper {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text404 {
  font-size: 24vw;
}

.reason {
  font-size: 6vw;
}