.title {
  font: var(--font-h4);
  margin-bottom: 20px;
}

.block {
  max-width: 638px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 222px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.headerTitle {
  color: var(--gray-color-2);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.subtitle {
  font: var(--font-h6);
  margin-bottom: 32px;
  text-align: center;
}

.nftName {
  font: var(--font-text-2);
}

.tableInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rowImage {
  height: 58px;
  width: 58px;
}

.value {
  font: var(--font-text-8);
}

.btn {
  margin-top: 32px;
  height: 48px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
    height: 40px;
  }
}
