.sidebar {
  overflow-y: auto;
  background-color: var(--black-color);
  transition: transform var(--transition-1), opacity var(--transition-1);
  height: calc(100vh - 88px);
  border-top: 1px solid var(--gray-color-6);
  border-left: 1px solid var(--gray-color-6);
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 24px 24px 0;
}

.title {
  font: var(--font-subtitle-2);
  margin-bottom: 12px;

  @media screen and (max-width: 1300px) {
    margin-bottom: 50px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .sidebar__image {
    margin-bottom: 0;
  }
}

.image {
  width: 80px;
  height: 80px;
  background-color: var(--gray-color-7);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--gray-color-1);
  margin-bottom: 32px;
  position: relative;
}

.removeBtn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-color-3);
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  &::before {
    content: '-';
  }
}
