.sidebar {
  overflow-y: auto;
  background-color: var(--black-color);
  transition: transform var(--transition-1), opacity var(--transition-1);
  height: calc(100vh - 88px);
  border-top: 1px solid var(--gray-color-6);
  border-left: 1px solid var(--gray-color-6);
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 24px 24px 0;

  @media screen and (max-width: 1450px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  font: var(--font-subtitle-2);
  margin-bottom: 12px;

  @media screen and (max-width: 1300px) {
    margin-bottom: 50px;
  }
}
