.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title {
  font: 300 96px var(--font-family-oxanium);
  margin-bottom: 24px;

  b {
    font-weight: 900;
  }
}

.subtitle {
  font: 400 24px var(--font-family-inter);
  color: var(--white-color);
  opacity: 0.5;
  margin-bottom: 24px;
}

.launchingSoon {
  font: var(--font-subtitle-2);
  color: var(--accent-color-3);
  margin-bottom: 64px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-color-3);
  margin-bottom: 64px;
}

.separatorDouble {
  width: 100%;
  height: 16px;
  border-top: 1px solid var(--gray-color-3);
  border-bottom: 1px solid var(--gray-color-3);
  margin-bottom: 64px;
}

.whyNeeds,
.howItWorks {
  margin-bottom: 64px;
}

.footer {
  text-transform: uppercase;
  padding: 64px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-color-3);
  font: 600 24px var(--font-family-oxanium);
}
