.firstSectionBg {
  min-height: calc(100vh - 50px);
  position: relative;
  background: url('./images/blueBg.png') no-repeat left bottom / 70% 120%,
  url('./images/blueBgSmall.png') no-repeat right top;
  overflow: unset;

  @media screen and (max-width: 1023px) {
    background-size: 100% 120%;
  }
}

.container {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.titleWrapper {
  max-width: 800px;
  //margin-top: 10vh;

  @media screen and (max-width: 1023px) {
    max-width: 730px;
  }

  @media screen and (max-width: 900px) {
    max-width: none;
    width: 100%;
  }
}

.mainTitle {
  font: var(--font-title-1);
  color: var(--white-color);
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (max-width: 900px) {
    max-width: 500px;
  }

  @media screen and (max-width: 767px) {
    max-width: 400px;
    font-size: 55px;
  }

  @media screen and (max-width: 500px) {
    font-size: 40px;
    max-width: 300px;
  }
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  &::before {
    content: '';
    width: 12%;
    height: 1px;
    flex-shrink: 0;
    background-color: var(--white-color);
    margin-bottom: 80px;
  }

  @media screen and (max-width: 900px) {
    &::before {
      width: auto;
      flex-grow: 1;
      margin-right: 30px;
    }
  }
}

.subtitleContent {
  width: 84%;
  max-width: 553px;
  flex-shrink: 0;
  font: var(--font-text-1);

  @media screen and (max-width: 1023px) {
    font-size: 24px;
  }

  @media screen and (max-width: 900px) {
    max-width: 300px;
  }

  @media screen and (max-width: 767px) {
    max-width: 250px;
    flex-grow: 1;
  }
}

.subtitle {
  font: var(--font-text-1);

  @media screen and (max-width: 1023px) {
    font-size: 24px;
  }

  @media screen and (max-width: 900px) {
    font-size: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

.subtitleNav {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 30px;

  .docsLink {
    color: var(--accent-color-1);

    &::after {
      background-color: var(--accent-color-1);
    }

    &:hover {
      color: var(--accent-color-1);
    }

    svg {
      path {
        fill: var(--accent-color-1);
      }
    }
  }
}


