.flexCenter {
  display: flex;
  align-items: center;
}

.wrapper {
  @extend .flexCenter;
  flex-direction: column;
  width: 100%;

  @media (max-width: 1300px) {
    display: none;
  }
}

.chartVisible {
  display: flex;
}

.chart {
  @extend .flexCenter;
  justify-content: center;

  padding-top: 16px;
  height: 206px;
  width: 420px;

  @media (max-width: 1390px) {
    width: 378px;
  }

  @media (max-width: 1370px) {
    max-width: 330px;
  }

  @media (max-width: 1300px) {
    max-width: unset;
    height: 200px;

    & > canvas {
      height: 200px !important;
    }
  }
}
