.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 24px;
  gap: 16px;
  width: 100%;

  @media (max-width: 1300px) {
    display: none;
  }
}

.chart {
  height: 220px;
  width: 458px;

  @media (max-width: 1390px) {
    width: 365px;
  }
}
