.container {
  display: flex;
  padding: 32px;
  gap: 32px;
  height: 582px;
  width: 100%;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  @media (max-width: 1240px) {
    gap: 24px;
  }

  @media (max-width: 960px) {
    flex-direction: column-reverse;
    height: 100%;
  }
}

.searchableList {
  display: flex;
  flex-direction: column;

  @media (max-width: 1240px) {
    width: 35% !important;
  }

  @media (max-width: 960px) {
    width: 100% !important;
  }
}

.search {
  @media (max-width: 1240px) {
    flex-direction: column;
    align-items: flex-start !important;
  }

  @media (max-width: 960px) {
    flex-direction: row;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 1240px) {
    width: 65% !important;
  }

  @media (max-width: 960px) {
    flex-direction: row !important;
    width: 100% !important;
  }
}

.wrapperNftsList {
  overflow: auto;
}

.nftsList {
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));

  @media (max-width: 1240px) {
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
  }

  @media (max-width: 960px) {
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  }
}
