.list {
  margin-top: 8px;
  margin: 0 -52px;
  padding: 0 52px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  height: calc(81vh - var(--header-height));

  @media screen and (max-width: 960px) {
    display: none;

    margin: 0 -42px;
    padding: 0 42px;

    &.active {
      display: flex;
      height: calc(70vh - var(--header-height));
    }
  }

  @media screen and (max-width: 767px) {
    &.active {
      display: flex;
      height: calc(70vh - var(--header-height));
    }
  }

  @media screen and (max-width: 376px) {
    &.active {
      display: flex;
      height: calc(63vh - var(--header-height));
    }
  }
}

.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
}

.emptyListTitle {
  font: var(--font-text-3);
  font-weight: 700;
  text-align: center;
}

.empryListText {
  font: var(--font-text-8);
  font-size: 14px;
  text-align: center;
}
