.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  color: var(--secondary-text);
  font: var(--font-text-6);
  text-transform: uppercase;
}

.row {
  display: flex;
  align-items: center;
  gap: 3px;
}

.value,
.columnValue {
  font: var(--font-text-8);
  margin-top: 4px;
  font-size: 14px;
  text-align: right;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--secondary-border);
}

.columnValue {
  font-size: 16px;
}

.textCenter {
  text-align: center;
}
