.content {
  max-width: 638px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: unset;
  }
}

.title {
  font: var(--font-h6);
  margin-bottom: 24px;
  text-align: center;
}

.blockWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 17px;
}

.icon {
  width: 20px;
}

.block {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4px;
  min-width: 132px;
}

.subtitle {
  color: var(--black-color);
  font: var(--font-text-6);
  text-align: center;
  text-transform: uppercase;
}

.value {
  color: var(--gray-color-2);
  font: var(--font-text-1);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}
