.content {
  max-width: 638px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: unset;
  }
}

.title {
  font: var(--font-h6);
  margin-bottom: 24px;
  text-align: center;
}

.blockWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 17px;
}
