.content {
  max-width: 580px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: unset;
  }
}

.title {
  font: var(--font-h6);
  margin-bottom: 24px;
  text-align: center;
}

.blockWrapper {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    row-gap: 24px;
  }
}
